[2016-12-14 21:43] mediumTaj opened #1 "Add support for all Watson Services"
This should be converted into an epic with an issue for each of the services (these are the important ones for now)
- [x] Conversation
- [x] Discovery
- [x] Speech to Text
- [x] Text to Speech
- [x] Visual Recognition
- [x] Language Translator
- [x] Personality Insights
- [x] Tone Analyzer
- [x] Natural Language Understanding

The following are either deprecated, low priority or will be changing s

[2016-12-14 21:44] mediumTaj opened #2 "Requirements for open source"
- [x] contributing.md, issue_template, pull_request_template
- [x] Integration tests
- [x] Unit tests
- [x] CI (Travis or AppVeyor)
- [x] No acronyms
- [x] Need a proper name: `Watson Developer Cloud .NET SDK`, `dot-net-sdk`, `dot-net-core-sdk`? We need to differentiate this from the one I am working on that is using a portion of the Unity SDK.
- [x] README.md with all documentation and code sampl

[2016-12-14 21:47] mediumTaj commented on #2
I don't know if this is helpful but I copied and pasted our conversation from GHE repo

**degrim**
@asantiago Regarding the name, I would suggest `dotnet-core-sdk` or `dotnet-standard-sdk`.  `dotnet-standard-sdk` would indicate that this library is based on the .NET Standard, making it compatible with .NET Core, .NET Framework, and others (once upgraded to .NET Standard 2.0).
It would also be nice

[2017-01-25 21:18] mediumTaj opened #3 "[dotnet-standard-sdk] Readme"
Update readme.md to mirror one of the other SDKs. Include separate ReadMe files for each service.

- [x] Main GitHub page
- [x] Conversation
- [ ] Discovery
- [x] Speech to Text
- [x] Text to Speech
- [ ] Visual Recognition
- [x] Language Translator
- [x] Personality Insights
- [x] Tone Analyzer

[2017-01-25 21:20] mediumTaj opened #4 "[dotnet-standard-sdk] License"
Add license to the top of each `.cs` file.

[code]

[2017-01-25 21:20] mediumTaj opened #5 "[dotnet-standard-sdk] Inline doucmentation"
Add inline documentation in Visual Studio for XML Documentation generation.

[2017-01-25 21:21] mediumTaj opened #6 "[dotnet-standard-sdk] Automatic documentation generation"
Generate documentation via doxygen using inline documentation. Documentation should be generated upon successful integration tests, unit tests and builds on merge to Master for release. This should generate another commit in github with updated documentation which will be the release.

[2017-01-25 21:22] mediumTaj opened #7 "[dotnet-standard-sdk] Unit and integration tests"
Run unit and integration tests upon push to github.

[2017-01-25 21:23] mediumTaj opened #8 "[dotnet-standard-sdk] Continuous Integration"
Investigate `Travis` vs `AppVeyor` and integrate into the SDK. Can we do everything with `AppVeyor`? Is this better?

[2017-01-25 21:23] mediumTaj opened #9 "[dot-net-standard-sdk] Generate Code Coverage"
Code coverage through Coveralls.io.

[2017-01-25 21:24] mediumTaj opened #10 "[conversation] Abstract Conversation service."
Abstract the `Conversation` service into the `dotnet-standard-sdk`
- [ ] Abstract service
- [ ] Add inline documentation
- [ ] Add service examples to readme
- [ ] Add unit tests
- [ ] Add integration tests

[2017-01-25 21:29] mediumTaj opened #11 "[discovery] Abstract Discovery service."
Abstract the `Discovery` service into the `dotnet-standard-sdk`
- [ ] Abstract service
- [ ] Add inline documentation
- [ ] Add service examples to readme
- [ ] Add unit tests
- [ ] Add integration tests

[2017-01-25 21:30] mediumTaj opened #12 "[speech-to-text] Abstract Speech to Text service."
Abstract the `Speech to Text` service into the `dotnet-standard-sdk`
- [ ] Abstract service
- [ ] Add inline documentation
- [ ] Add service examples to readme
- [ ] Add unit tests
- [ ] Add integration tests

[2017-01-25 21:30] mediumTaj opened #13 "[text-to-speech] Abstract Text to Speech service."
Abstract the `Text to Speech` service into the `dotnet-standard-sdk`
- [x] Abstract service
- [x] Add inline documentation
- [x] Add service examples to readme
- [x] Add unit tests
- [x] Add integration tests

[2017-01-25 21:30] mediumTaj opened #14 "[visual-recognition] Abstract Visual Recognition service."
Abstract the `Visual Recognition` service into the `dotnet-standard-sdk`
- [x] Abstract service
- [x] Add inline documentation
- [x] Add service examples to readme
- [x] Add unit tests
- [x] Add integration tests

[2017-01-25 21:31] mediumTaj opened #15 "[language-translator] Abstract Language Translator service."
Abstract the `Language Translator` service into the `dotnet-standard-sdk`
- [x] Abstract service
- [x] Add inline documentation
- [x] Add service examples to readme
- [x] Add unit tests
- [x] Add integration tests

[2017-01-25 21:31] mediumTaj opened #16 "[personality-insights] Abstract Personality Insights service."
Abstract the `Personality Insights` service into the `dotnet-standard-sdk`
- [x] Abstract service
- [x] Add inline documentation
- [x] Add service examples to readme
- [x] Add unit tests
- [x] Add integration tests

[2017-01-25 21:32] mediumTaj opened #17 "[tone-analyzer] Abstract Tone Analyzer service."
Abstract the `Tone Analyzer` service into the `dotnet-standard-sdk`
- [x] Abstract service
- [x] Add inline documentation
- [x] Add service examples to readme
- [x] Add unit tests
- [x] Add integration tests

[2017-01-25 21:32] mediumTaj opened #18 "[document-conversion] Abstract Document Conversion service."
Abstract the `Document Conversion` service into the `dotnet-standard-sdk`
- [ ] Abstract service
- [ ] Add inline documentation
- [ ] Add service examples to readme
- [ ] Add unit tests
- [ ] Add integration tests

[2017-01-25 21:34] mediumTaj opened #19 "[natural-language-classifier] Abstract Natural Language Classifier service."
Abstract the `Natural Language Classifier` service into the `dotnet-standard-sdk`
- [x] Abstract service
- [x] Add inline documentation
- [x] Add service examples to readme
- [x] Add unit tests
- [x] Add integration tests

[2017-01-25 21:34] mediumTaj opened #20 "[retrieve-and-rank] Abstract Retrieve and Rank service."
Abstract the `Retrieve and Rank` service into the `dotnet-standard-sdk`
- [ ] Abstract service
- [ ] Add inline documentation
- [ ] Add service examples to readme
- [ ] Add unit tests
- [ ] Add integration tests

[2017-01-25 21:35] mediumTaj opened #21 "[alchemy-data-news] Abstract Alchemy Data News service."
Abstract the `Alchemy Data News` service into the `dotnet-standard-sdk`
- [ ] Abstract service
- [ ] Add inline documentation
- [ ] Add service examples to readme
- [ ] Add unit tests
- [ ] Add integration tests

[2017-01-25 21:35] mediumTaj opened #22 "[tradeoff-analytics] Abstract Tradeoff Analytics service."
Abstract the `Tradeoff Analytics` service into the `dotnet-standard-sdk`
- [ ] Abstract service
- [ ] Add inline documentation
- [ ] Add service examples to readme
- [ ] Add unit tests
- [ ] Add integration tests

[2017-01-26 16:14] mediumTaj opened #24 "[dotnet-standard-sdk] Implement WebSockets"
Implement WebSockets to stream to SpeechToText and TextToSpeech.

[2017-01-26 16:15] mediumTaj commented on #24
@atilatosta can you handle this one?

[2017-01-26 17:45] mediumTaj commented on #24
Nevermind about estimations - we are using GitHub Projects to track task and they don't support point estimates yet.

[2017-01-26 23:08] mediumTaj commented on #3
I have stub README.md files in each service and the main github page. Each service now describes each endpoint. We will need to populate each endpoint description with usage examples.

[2017-01-27 16:04] mediumTaj commented on #3
Marking this as blocked for now. We still need `service examples` for each service and `documentation` instructions. We also need badges for `Continuous Integration`, `NuGet` and `Code Coverage`.

[2017-01-27 16:08] mediumTaj commented on #3
@atilatosta I'm looking at the structure of the readme files for each service. Should these be moved into each service version of the service? Will each service need it's own project? What do you think?

[2017-01-27 16:29] degrim commented on #3
@mediumTaj I could argue either way for separating each service into it's own package.  On the one hand, it would be nice for minimizing dependencies to only include the packages for the service that I want to use, but on the other hand if I'm using multiple services it might be more convenient to just have to include a single package.

[2017-01-27 17:06] mediumTaj commented on #3
@degrim Hmm would it be unconventional to offer both? A NuGet package for the whole SDK and packages for each service? Is that confusing? Right now in the ReadMe (`gh-3-readMe` branch) I'm pointing to installation instructions per service and have a link pointing to the download link of the latest release in github. Is that enough or do you think we need to alsoi add a NuGet package for the whole

[2017-01-27 17:39] degrim commented on #3
@mediumTaj I think if you were to create an empty project which simply listed all of the others as a dependency, that would allow you to essentially offer both without any overlap between the two.  As far as conventions go, I'm not really sure if that would be unconventional, I can't think of any other packages that would face a similar issue to compare.

[2017-01-27 17:41] atilatosta commented on #3
@mediumTaj I think it is best to keep each service in a separate package. If we only have one project with all the services inside, we will always force the developer to load all the services, even if he wants to use only one.

[2017-01-27 17:46] mediumTaj commented on #3
I think it's ok to keep it separate package for now if there is a case for both separate vs entire packages. Looking at Amazon SDK they look like they're doing separate packages but an msi installer for the whole thing? I haven't downloaded the installer.

https://aws.amazon.com/sdk-for-net/

[2017-01-27 19:25] mediumTaj commented on #8
@atilatosta can you add me to your AppVeyor for the dotnet-standard-sdk? I realize that I signed up and its given me a separate appveyor for the same repo.  Also do you have any idea where this error might be coming from?

https://ci.appveyor.com/project/mediumTaj/dotnet-standard-sdk

[code]

I cloned from your development branch and I don't think I've made any changes but it does not appear on yo

[2017-01-27 19:43] mediumTaj commented on #8
It's looking like we cannot calculate code coverage using OpenCover with Travis. I get the following error from OpenCover:

[code]

Apparently ColoredConsoleAppender is windows only. https://github.com/OpenCover/opencover/issues/220

[2017-01-27 19:46] atilatosta commented on #8
@mediumTaj what is your e-mail on AppVeyor?

[2017-01-27 19:47] atilatosta commented on #8
@mediumTaj send me by e-mail!

[2017-01-27 23:15] mediumTaj commented on #8
One more thing @atilatosta can you go into your travis and disable travis build of the dotnet-standard-sdk? Just so we stop getting emails that the build fails.

[2017-01-28 02:25] mediumTaj commented on #8
Removed old after-test script below

[code]

[2017-01-28 03:37] mediumTaj commented on #9
Building to Coveralls.io. Still need to look deeper at this. Need to generate yml file from AppVeyor settings.

https://coveralls.io/github/atilatosta/dotnet-standard-sdk

[2017-01-28 03:37] mediumTaj commented on #8
I have a successful AppVeyor build.

[2017-01-28 16:30] mediumTaj opened #26 "[dotnet-standard-sdk] Coding standards"
We need to detail coding standards on the Contributing page. Currently on the `gh-3-readMe` branch.

https://github.com/atilatosta/dotnet-standard-sdk/blob/gh-3-readMe/.github/CONTRIBUTING.md

[2017-01-29 11:37] atilatosta commented on #8
@mediumTaj very good! I was not able to integrate with Coveralls.io.

[2017-01-29 11:40] atilatosta commented on #8
@mediumTaj I removed the repository from Travis

[2017-01-29 17:31] mediumTaj commented on #8
Thanks Atila!

I'm seeing an issue where AppVeyor is not finding all of the tests. The log says it found 26 tests but Visual Studio Test Explorer lists 52 tests. Is there anything I'm missing here? I changed AppVeyor test settings to include

[code]

Also, I'm not sure OpenCover is finding all of the tests either.

I'll keep taking a look on Monday. Have a good weekend!

[2017-01-30 13:32] atilatosta commented on #24
@mediumTaj I'm checking the implementation of websockets in the dotnet standard library, but from what I'm seeing, we'll have problems. :(

[2017-01-30 14:00] atilatosta commented on #8
@mediumTaj because in the after tests script was only to run the LanguageTranslator coverage. I have not yet been able to make the filter identify all, without having to add one by one.

rm -rf coverage
mkdir coverage
"C:\projects\dotnet-standard-sdk\packages\OpenCover.4.6.519\tools\OpenCover.Console.exe" "-target:C:\Program Files\dotnet\dotnet.exe" -targetargs:"test -f netcoreapp1.0 -c release te

[2017-01-30 15:20] mediumTaj commented on #24
What kind of issues do you see? Is there no websocket library .NET Standard? Is there a way to get microphone access or play audio?

[2017-01-30 15:26] mediumTaj commented on #8
Yeah, I was trying to get them to find all of the tests this weekend as well. I do see this warning when Appveyor (not opencover) is trying to discover tests.

[code]

It also looks like it only runs 26 tests where VisualStudio can find 50+ tests

[code]

I tried to add the rest of the tests in the targetargs in the opencover call but opencover couldnt understand

[code]

[2017-01-30 15:30] atilatosta commented on #8
@mediumTaj I saw this comment, may be a possible solution:
https://github.com/dotnet/cli/issues/3136?#issuecomment-272648964

[2017-01-30 20:57] mediumTaj commented on #8
@atilatosta I wrote a test script from what they have in that comment. I think it looks good. We are failing a few integration tests but I think we are finding all of them. Can you take a look at the log and confirm?

https://ci.appveyor.com/project/atilatosta/dotnet-standard-sdk/build/1.0.55

I'm still looking into the other errors. Do I need to adjust the project.json of each service, integratio

[2017-01-30 22:01] mediumTaj commented on #8
This is looking pretty good - Creating pull request for review.

[2017-01-30 22:39] mediumTaj commented on #7
Individual unit and integration tests are being tracked under each service abstraction issue. Running unit and integration tests are part of #8

[2017-01-30 22:39] #7 closed

[2017-01-30 22:41] mediumTaj opened #28 "[dotnet-standard-sdk] Testing for base package"
We need testing for the base package `IBM.WatsonDeveloperCloud` to increase code coverage.

[2017-01-30 22:47] mediumTaj opened #29 "[dotnet-standard-sdk] Enforce coding standards"
Enforce coding standards on AppVeyor build. One suggestion is StyleCop.

https://github.com/StyleCop/StyleCop

Any other suggestions?

[2017-01-30 22:48] mediumTaj commented on #26
#29

[2017-01-30 22:48] mediumTaj commented on #29
#26

[2017-01-30 23:02] mediumTaj opened #30 "[code-coverage] Look into code coverage services"
coveralls.io vs codecov.io

[2017-01-30 23:59] atilatosta commented on #24
@mediumTaj I'm unsure about saying that WebSocket is not supported, but I'm not finding enough documentation. I believe there are third-party libraries, but I would like to use dotnet core's native libraries to the fullest. In case the SDK would not have access to the microphone or camera, who would do this would be the local application that would provide Stream to the SDK.

[2017-01-31 00:05] atilatosta commented on #8
@mediumTaj Very good!

[2017-01-31 00:25] mediumTaj commented on #24
Yeah I think it would be best to use .NET Core native as well. I don't have any experience in that. Unity SDK used a 3rd party plugin. I think for things that developers have a standard plugin they use, it's fine to go 3rd party. For example, for the last .NET Platform SDK I was working on I used NAudio to get access to the microphone. It might be the case where we have to leave access to the came

[2017-01-31 15:59] #4 closed

[2017-01-31 16:00] #9 closed

[2017-01-31 16:01] #8 closed

[2017-01-31 17:29] atilatosta commented on #29
@mediumTaj seeing this page (https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/coding-style.md), they using the .Net Codeformatter tool to enforce coding standards, but i do not found on nuget. What do you think?

[2017-01-31 17:52] mediumTaj commented on #29
Yeah it looks like they don't have a NuGet package

https://github.com/dotnet/codeformatter/issues/201

But this issues says
[code]

We cant really use this package as a dependency though.

[2017-01-31 17:59] mediumTaj commented on #6
We should be using `GitHub Pages` for documentation. @atilatosta Is there any way I can get access to the repo settings? Can you go into the repo settings and enable GitHub Pages for the `gh-6-documentationGeneration` and if you can `develop`?

[2017-01-31 18:06] atilatosta commented on #6
@mediumTaj The repo settings only have this options:

master branch
master branch/docs folder
none (this is what is marked now)

[2017-01-31 19:22] mediumTaj commented on #6
@atilatosta can you check if gh-pages branch showed up?

[2017-01-31 21:48] mediumTaj commented on #24
@atilatosta I just talked to German. We don't need to worry about accessing the microphone, camera, etc. We just need to be able to stream a bytearray to the services. It will be the developer responsibility to connect their application to the stream

[2017-01-31 23:10] mediumTaj commented on #6
Added Doxyfile and code to generate documentation into AppVeyor

[code]

[code]

Builds are failing right now. Because undocumented methods? We need to now push this directory to `gh-pages` branch and connect GithubPages to the proper documentation.

[2017-02-01 11:12] atilatosta commented on #6
@mediumTaj Yes. Now, i can see the gh-pages in the repo settings. I will see the error.

[2017-02-01 11:18] atilatosta commented on #24
@mediumTaj Yes. That is it. We are receiving the stream, but i am still worry with websockets. I keep looking about this.

[2017-02-01 16:26] mediumTaj commented on #2
@atilatosta from German:

[code]

[2017-02-01 17:56] atilatosta commented on #2
@mediumTaj I think that this responsibility is of the client application, because the SDK may not be running in the Bluemix environment. But, I had thought in add options by dependency injection, where the client application would add the options. What do you think?

[2017-02-01 18:02] degrim commented on #2
@atilatosta @mediumTaj I think that it might make sense to have some extension methods in a separate package that register some type of Credentials object with DI for use in ASP.NET, that way the primary SDK only has to accept a POCO as a parameter to it's constructor and the code for the DI doesn't have to live in the main SDK so there aren't unnecessary dependencies added for users who aren't us

[2017-02-01 18:48] mediumTaj commented on #2
Yeah I'm not 100% sure about including this in the SDK either. German seems to want it in there, probably for demo purposes. I agree, a separate package with this functionality would be better.

Here's German's implementation in Java SDK

https://github.com/watson-developer-cloud/java-sdk/blob/36d98ef7754db0b1d545e1b478d1ca3740445f59/core/src/main/java/com/ibm/watson/developer_cloud/util/Credentia

[2017-02-01 18:58] atilatosta commented on #2
Yeah! I agree to create a separate package for it.

[2017-02-01 20:20] germanattanasio commented on #2
That sounds good

[2017-02-01 20:22] mediumTaj opened #31 "[dotnet-standard-sdk] Implement VCAP_SERVICES credentials."
Implement .NET Bluemix Package @degrim is building into the SDK to get credentials via `VCAP_SERVICES`

[2017-02-01 23:26] mediumTaj commented on #6
Building documentation and pushing to `gh-pages` docs directory under current branch name
[code]

Need to create an index page for this branch, and add links to appropriate documentation. Also need a link to latest release whenever a release is tagged.

[2017-02-02 21:33] mediumTaj opened #32 "[code-coverage] Push coverage to gh-pages"
Look into pushing coverage into `gh-pages` showing coverage report for each branch similar to documentation.

[2017-02-02 21:35] mediumTaj commented on #32
Is this necessary since we are pushing coverage to Coveralls?

[2017-02-03 16:44] mediumTaj commented on #6
Documentation and index page is being generated.

https://atilatosta.github.io/dotnet-standard-sdk/

[2017-02-03 17:59] #6 closed

[2017-02-03 18:01] mediumTaj commented on #3
I am merging this into develop for now along with all other feature branches.

[2017-02-07 15:07] mediumTaj opened #36 "[conversation] Unit test failing"
Investigate

[2017-02-07 15:09] mediumTaj opened #37 "[documentation] Write code samples"
Create a code samples project for examples of using services and document code samples in ReadMe for each service endpoint implemented so far.

- [x] Speech to Text
- [x] Text to Speech
- [x] Tone Analyzer
- [x] Personality Insights
- [x] Language Translation
- [ ] Discovery
- [x] Conversation
- [ ] Visual Recognition

[2017-02-07 16:37] mediumTaj opened #38 "[dotnet-standard-sdk] Inconsistency between Model namespaces"
There is an inconsistency between `Model` vs `Models` in the namespace of the DataModels.

Which one should we stick with? Or should we have a separate namespace for Data Models? Should we keep Data Models in the version namespace for each service?

[2017-02-07 23:32] atilatosta commented on #38
@mediumTaj In fact the Models is the namespace, the Model is the business class. Actually, when I built it, I realized it got a bit confusing. What do you think about this? How are you in the Java SDK?

[2017-02-07 23:46] mediumTaj commented on #38
@atilatosta Looks like they use `model`.

https://github.com/watson-developer-cloud/java-sdk/blob/master/discovery/src/main/java/com/ibm/watson/developer_cloud/discovery/v1/Discovery.java

[2017-02-08 16:47] mediumTaj opened #40 "[dotnet-standard-sdk] Support Multipart Form Data"
Many services depend on data being sent as Multipart Form data. We need to be able to add data to the http request as Form data and not just body.

For `LanguageTranslation` to call the method `CreateModel` we need to send a file as form data with the names of (one or more) `forced_glossary`, `paralell_corpus` and/or `monolingual_corpus`.

https://watson-api-explorer.mybluemix.net/apis/language-tr

[2017-02-08 17:06] maykonsIBM commented on #36
@mediumTaj What branch did this occur? I tested the development branch and everything is fine.

[2017-02-08 17:24] mediumTaj opened #41 "[dotnet-standard-sdk] Authentication error"
No error is thrown when trying to use a service with incorrect authentication.

[2017-02-08 18:23] mediumTaj commented on #36
On 'develop' branch. Is it working for you?

[2017-02-08 18:43] atilatosta commented on #36
@mediumTaj  and @maykonsIBM I did the pull request review and also did the merge with the 'develop' development branch. What do you think of using 'development' to encode? Other ALM activities for example, we can create separate branches. What do you think about this?

[2017-02-08 18:43] atilatosta commented on #36
@maykonsIBM  Please make a branch development sync and see if the error remains

[2017-02-08 18:48] atilatosta commented on #36
@mediumTaj i saw your e-mail now. I think we can follow your suggestion of branch nomenclature. Let's start now from branch development, what do you think?

[2017-02-08 18:49] mediumTaj commented on #36
@atilatosta It doesn't really matter much which non-master branch we are merging to. `develop` is more common here. It is shorter to type than `development`. But if `development` feels better to you I don't mind changing over. I will do a pull request from `develop` to `development` if that sounds right.

[2017-02-08 18:55] mediumTaj commented on #36
@atilatosta @maykonsIBM I deleted the `develop` branch and our main dev branch will be `development`. Our trunk is still `master` and we should probably have a `release` branch for releases.

[2017-02-08 18:57] atilatosta commented on #36
@mediumTaj  Yes, that's what I think. And we'll follow your suggestion to create the branches from development to issues. Right?

[2017-02-08 19:14] mediumTaj commented on #36
Yes, don't work directly off `development`. The `development` and `master` will be protected branches and we will only be able to merge via pull request and review. Create feature branches from issues and if there is not an issue, please create one so we can track what's going on.

I just pulled down the latest development - looks good! I am getting a fail in stt integration test - Recognize_Suces

[2017-02-08 19:18] atilatosta commented on #36
@mediumTaj What is the error message? Recognize should be why I did not upload the .wav file:

FileStream audio =
                File.OpenRead("let_it_be.wav");

[2017-02-08 19:20] mediumTaj opened #42 "[documentation] Prep ReadMe files for release"
Look over ReadMe file, hide unsupported services and state if a service is not abstracted (personality insights, visual recognition, discovery, etc).

[2017-02-08 19:21] mediumTaj opened #43 "[documentation] Conversation example"
Create an example for Conversation service and add code sample to readme.

[2017-02-08 20:23] mediumTaj commented on #43
@atilatosta Do you know if the Conversation service is working? I can't get my example to work.

[example](https://github.com/atilatosta/dotnet-standard-sdk/blob/gh-43-conversationSample/examples/IBM.WatsonDeveloperCloud.Conversation.Example/ConversationServiceExample.cs#L41-L59)

on branch `gh-43-conversationSample`

I get an error

[2017-02-08 21:08] mediumTaj commented on #36
@atilatosta no error, just results count is zero - so the assert fails.

[2017-02-08 22:12] mediumTaj commented on #1
I created a spreadsheet showing what has been supported sofar. If you would like write access please message me with your email.

https://docs.google.com/spreadsheets/d/12FZ2kVh1TNDGGgAYY0sEBx0ueKVKNooeGXINba0SsBo/edit?usp=sharing

[2017-02-08 22:29] mediumTaj opened #45 "[services] Complete abstraction of core services"
We need full abstraction of the following services
- [x] Conversation
- [x] Discovery
- [x] Speech to Text
- [x] Text to Speech
- [x] Visual Recognition
- [x] Language Translator
- [x] Personality Insights
- [x] Tone Analyzer

I have compiled a spreadsheet of what we have completed so far. If you need write access, please contact me with your email address

https://docs.google.com/spreadsheets/d/1

[2017-02-09 12:25] maykonsIBM commented on #36
btw @mediumTaj , did the issue `[conversation] Unit test failing` still occur in branch `development` ? I just tested and I did not have any errors.

The error I had in the integrated test. I believe we can close this issue and work on integrated test.

[2017-02-09 12:50] atilatosta commented on #43
@mediumTaj Yes, it was working! Must be deserialization error. I'll check.

[2017-02-09 16:15] mediumTaj commented on #36
@maykonsIBM Agreed.... thank you!!!

[2017-02-09 16:22] mediumTaj commented on #32
@atilatosta @maykonsIBM  We are generating code coverage reports (ReportGenerator) on build (develop, release branch and tagged release). Do you guys think we should be pushing these reports to gh-pages like we are pushing the [documentation](https://atilatosta.github.io/dotnet-standard-sdk/)?

[2017-02-09 16:37] mediumTaj opened #47 "[build] Deployment Automation"
Deploy packages to NuGet when pushing to `release` branch. All checks should pass in the `development` branch before pushing to `release`.

A few things need to happen if possible
- [ ] Update `User-Agent` to the latest version
- [ ] Update each package ReadMe installation instructions
- [ ] Update each package ReadMe dependency

Alternatively, we can remove installation instructions and dependenc

[2017-02-09 16:42] mediumTaj commented on #47
Looks like [here](http://blog.nuget.org/20130205/managing-package-owners.html) it says

We sometimes get support requests to transfer package ownership from one user to another, but you can almost always accomplish this yourself. Transfering ownership from one user to another is simply a combination of the two features above.

1. The current owner invites the new user to become a co-owner and the

[2017-02-09 16:49] mediumTaj opened #48 "[build] Fail build on failed unit and integration tests"
Currently we are passing continuous integration on failed unit and integration tests. We need the check to fail on failed tests.

[2017-02-09 17:24] mediumTaj opened #49 "[release] Watson Developer Cloud .NET Standard SDK v0.1.0-alpha"
- [x] Draft release
- [ ] Publish packages to NuGet
- [ ] Update Changelog
- [ ] Update `User-Agent`
- [ ] Update ReadMe files for installation and dependency instructions

[2017-02-09 17:29] mediumTaj opened #50 "[dotnet-standard-sdk] Add User-Agent header"
All the requests should include a `User-Agent` header with the following format:

watson-developer-cloud-dotnet-standard-sdk-<version-number>

[2017-02-09 17:30] mediumTaj opened #51 "[release] Versioning"
@atilatosta @maykonsIBM

How do you guys think we should approach versioning?

I think we should start this alpha release at `v0.1.0-alpha` and iterate until we have all [requirements](https://github.com/atilatosta/dotnet-standard-sdk/issues/2) fulfilled. We will then move to our first release of `v1.0.0` and have bi-weekely releases (dictated by Developer Experience sprints - I can set up milesto

[2017-02-09 21:29] mediumTaj opened #53 "[release] Generate and populate nuspec files for each package"
Generate nuspec files for deployment to NuGet. Use version 0.1.0-alpha

[2017-02-09 22:51] mediumTaj commented on #5
Added documentation for TextToSpeech

[2017-02-09 23:11] mediumTaj opened #57 "[testing] Speech to Text integration test failing"
DeleteSession_Success is failing with the following error

[code]

[2017-02-09 23:12] mediumTaj opened #58 "[testing] Language Translator integration test failing"
GetModelDetails is failing with the following error
[code]

[2017-02-09 23:14] mediumTaj opened #59 "[testing] Speech to Text integration test failing"
Recognize_Success is failing with the following error:

[code]

[2017-02-10 00:05] atilatosta commented on #40
@mediumTaj i fix this issue but when i call the CreateModel endpoint on Language Translator service, both for watson explorer and a service in my bluemix account, i got  this error:

supplied bluemix-plan-id does not permit access to customization

Have any idea?

[2017-02-10 00:56] mediumTaj commented on #47
@atilatosta Here are instructions for adding owners to the IBM.WatsonDeveloperCloud package:

Navigate to the package page using the ‘Packages’ tab, searching, or clicking your username to and then ‘Manage My Packages’;
When logged on as the package’s owner, there is a ‘Manage Owners’ link on the left side to click;
Enter the username of the person to add as an owner and click ‘Add’;
An email is t

[2017-02-10 01:08] #42 closed

[2017-02-10 01:08] #53 closed

[2017-02-10 01:09] #5 closed

[2017-02-10 01:09] #37 closed

[2017-02-10 01:09] #43 closed

[2017-02-10 01:09] #36 closed

[2017-02-10 01:10] #3 closed

[2017-02-10 01:44] mediumTaj commented on #40
@atilatosta Awesome! that would be because the free plan cannot make custom models. Let me see if I can get credentials

[2017-02-10 01:45] mediumTaj commented on #40
@atilatosta So can any service send form data now? If so I can continue abstracting services.

[2017-02-10 01:58] mediumTaj commented on #40
Hmm @atilatosta I sent credentials to your ibm email

[2017-02-10 02:24] #38 closed

[2017-02-10 09:58] atilatosta commented on #40
@mediumTaj No! It's necessary fix each operation of the abstractions. i will check the others abstractions.

[2017-02-10 11:31] atilatosta commented on #47
@mediumTaj i sended to you, if you want can be remove my id. About deployment, there is no standard deployment strategy for .NET developers. I think that, if possible, only push the package if there is change.

I have one doubt, in the dotnet core it is possible to generate a package with only a "pack" command.

Example: dotnet pack --no-build --configuration release.

And this command can be exec

[2017-02-10 11:46] atilatosta commented on #51
@mediumTaj Ok. That sounds good to me.

[2017-02-10 14:45] #51 closed

[2017-02-10 14:47] mediumTaj commented on #47
@atilatosta Ah, we can generate without a nuspec file? So we don't need to designate version, description , and other info that we had to populate in the nuspec?

[2017-02-10 14:58] atilatosta commented on #47
@mediumTaj Yeah! We can generate without nuspec file, but the information of version, description and others, are in the project.json file. Look [Project.json-file](https://github.com/aspnet/Home/wiki/Project.json-file)

[2017-02-10 14:59] mediumTaj commented on #47
Nice ok, I'll remove nuspec then. Thanks!!

[2017-02-10 15:37] mediumTaj opened #61 "[release] Change all github URLs"
Change github urls to reference `watson-developer-cloud` instead of `atilatosta`.

The base URL should be

[2017-02-10 15:39] #50 closed

[2017-02-10 15:42] mediumTaj commented on #61
I changed link to issue in CONTRIBUTING.md and link to documentation in README.md. We have references to `atilatosta` github in appveyor.yml (change in appveyor) and build status and coverage badges in readme.

[2017-02-10 15:48] mediumTaj opened #63 "[continuous-integration] Switch AppVeyor badge link"
Switch AppVeyor badge link from Atila to my AppVeyor account. Export AppVeyor.yml from Atila's account and use for CI.

[2017-02-10 15:49] mediumTaj opened #64 "[code-coverage] Switch code coverage accounts"
Switch code coverage from Atila's account to my account.

[2017-02-10 19:59] #63 closed

[2017-02-10 20:00] #64 closed

[2017-02-10 20:00] #61 closed

[2017-02-10 20:00] #49 closed

[2017-02-10 23:43] #47 closed

[2017-02-10 23:45] #2 closed

[2017-02-13 16:57] claytonbnu opened #73 "[dotnet-standard-sdk] Microsoft.AspNet.WebApi.Client 5.2.3 is not compatible with netstandard1.6"
When creating a new project(vst 15 or 17) and getting the sdk in the nuget the following error occurs:

Restoring packages for d:\clayton\documents\visual studio 2017\Projects\ClassLibrary1\ClassLibrary1\ClassLibrary1.csproj...
Package Microsoft.AspNet.WebApi.Client 5.2.3 is not compatible with netstandard1.6 (.NETStandard,Version=v1.6). Package Microsoft.AspNet.WebApi.Client 5.2.3 supports:
  - n

[2017-02-13 17:21] mediumTaj opened #74 "[dotnet-standard-sdk] Visual Studio Code"
Look into demo using Visual Studio Code.

[2017-02-13 17:27] mediumTaj commented on #73
@atilatosta I have been adding `portable-net451+win8` to the .net core imports. Is the `WebApi.Client 5.2.3` dependency important?

[code]

[2017-02-13 19:39] atilatosta commented on #73
@mediumTaj Yes, because the MediaTypeFormatter (HttpFactory.cs) depends on this namespace.

@claytonbnu You are creating a .net framework project, try to create a .net core project.

[2017-02-13 19:56] claytonbnu commented on #73
@atilatosta Same problem.

 Package Microsoft.AspNet.WebApi.Client 5.2.3 is not compatible with netcoreapp1.1 (.NETCoreApp,Version=v1.1). Package Microsoft.AspNet.WebApi.Client 5.2.3 supports:
      - net45 (.NETFramework,Version=v4.5)
      - portable-net45+netcore45+wp8+wp81+wpa81 (.NETPortable,Version=v0.0,Profile=wp8+netcore45+net45+wp81+wpa81)
    One or more packages are incompatible with .N

[2017-02-13 20:02] degrim commented on #73
@claytonbnu Your frameworks section says `netcoreapp1.1` but your dependencies section shows `Microsoft.NETCore.App` version `1.0.1`.  This is invalid.  Specifying `netcoreapp1.1` in the frameworks section will only affect building and restoring the project for .NET Core 1.1, which you currently aren't doing because of the `Microsoft.NETCore.App` dependency on version `1.0.1`.  Once that is fixed,

[2017-02-13 22:09] atilatosta commented on #73
@claytonbnu I created a console app with project.json below and it worked correctly:
[code]
Please tell me if your Visual Studio is with Update 3 and you have at least DotNetCore.1.0.1-VS2015Tools.Preview2.0.3 installed as well.

However, the package "IBM.WatsonDeveloperCloud" is just the core of the libraries. If you want to use the services, you should use the specific package of each, eg IBM.Wa

[2017-02-13 22:38] claytonbnu commented on #73
It worked in another pc!
My Visual Studio was all up to date, with sp3 and and lastest tools.
I open the project on another pc with visual studio and it worked. :/

thank you so much for the support.

[2017-02-13 22:38] #73 closed

[2017-02-13 22:51] atilatosta commented on #73
@claytonbnu great news! You're welcome!

[2017-02-14 16:28] mediumTaj commented on #74
Added a vscode project here:

https://github.com/mediumTaj/languageTranslator-dotnet-standard-sdk-vscode

The difference is creating the project using the `dotnet new` command and opening the project in Visual Studio Code.

To get the SDK from NuGet you need to install .NET Core Project Manager from the `Extensions` menu and invoke `Nuget: Add New Package` from the Command Pallet (`cmd``shift``p`)

[2017-02-16 16:37] mediumTaj commented on #40
@atilatosta Is there any way to implement this similar to how [RESTSharp](https://github.com/restsharp/RestSharp/wiki/Recommended-Usage) works?

[2017-02-16 22:11] mediumTaj opened #75 "[dotnet-standard-sdk] Credential consumption pattern"
We need a pattern to get external credentials for integration testing. We need to move away from testing using WatsonAPIExplorer endpoints and use production service endpoints and credentials to be able to run integration tests across all endpoints. I can provide credentials if needed.

For integration tests, we encrypt credentials individually through AppVeyor or we can load an external encrypted

[2017-02-16 22:54] mediumTaj commented on #48
I will make sure I can enable this but I will hold off on implementing until we can get credentials imported during integration tests.

[2017-02-17 15:32] mediumTaj commented on #48
To fail the build on failed test insert

[code]

in the `Test` script immediately after the test. We need to get Unit/Integration tests all passing before enabling this.

This may be written as

[code]

We might have to parse the bool into an int.

[2017-02-20 17:12] mediumTaj opened #76 "[dotnet-standard-sdk] SDK Service Versioning"
## _As a_ developer, _I want_ service versioning, _so that_ I can consume services by version.

**Context:**

Currently the .NET SDK services are loosely versioned. Each service has a package with a single readme, set of integration and unit tests and example projects. If we have multiple service versions within the package, the pattern we are using will only contain one set of tests and example p

[2017-02-20 17:13] mediumTaj opened #77 "[dotnet-standard-sdk] Automated versioning and user-agent"
## _As a_ SDK Developer, _I want_ to version the .NET SDK in one place, _so that_ the SDK will be at a consistent version throughout.

**Context:**

Currently the SDK Version has to be changed in several places:
1. Each package's project.json file (feeds to NuGet package)
1. The release tag in github
1. The User-Agent header sent with each service call
2. Each service's ReadMe file installation in

[2017-02-20 17:15] mediumTaj opened #78 "[dotnet-standard-sdk] Use named parameters instead of builder pattern"
## _As a_ developer, _I want_ to use named parameters when using a service, _so that_ i can more easily automatically generate service abstractions.

**Context:**

Currently in the .NET Standard SDK some services are consumed using a builder pattern. For example for PersonalityInsights

[code]

We find developers use named variables more often. Creating a builder pattern for each service is very t

[2017-02-20 17:45] mediumTaj commented on #75
This is on hold until next week. German will come up with a unified solution across SDKs.

[2017-02-20 17:52] mediumTaj commented on #57
This is because we are using watson-api-explorer endpoint. We need to use the real service endpoint with working credentials for integration tests.

[2017-02-20 17:52] mediumTaj commented on #59
This is because we are using watson-api-explorer endpoint. We need to use the real service endpoint with working credentials for integration tests.

[2017-02-20 17:52] atilatosta commented on #78
@mediumTaj we decided to use the builder pattern because is being used in the Java SDK and because exists some methods that have many arguments. I think that the builder is more clean and easy. The Recognize method of STT, for example, can have up to 15 arguments. What do you think?

[2017-02-20 17:52] mediumTaj commented on #58
This is because we are using watson-api-explorer endpoint. We need to use the real service endpoint with working credentials for integration tests.

[2017-02-20 17:58] mediumTaj commented on #78
@atilatosta I think they want to use something that will be easy to automate using SwaggerCodeGen. We are trying to minimize how much work we need to do when new services are released and German and Jeff think the builder pattern would not be compatible with automatic generation. I think its ok that its in there now since we are still able to pass in the object but the services will be inconsisten

[2017-02-20 18:16] germanattanasio commented on #78
@atilatosta I'm using the builder pattern in Java because I don't have name parameters. Since I'm forced to use positional parameters I decided to use a builder pattern.

In this case, we can use [named and optional parameters](https://msdn.microsoft.com/en-us/library/dd264739.aspx). We do this in python and node already.

Using named parameter we can do something like this:
[code]

Thoughts ?

[2017-02-20 18:31] atilatosta commented on #78
@germanattanasio  It's ok! I just talked to @mediumTaj because I'm worried about the methods where we'll have many parameters, like Recognize for example. But @mediumTaj suggested we create overloads.

[2017-02-21 21:26] mediumTaj commented on #24
@atilatosta Has there been any progress in WebSockets at all?

[2017-02-21 21:26] mediumTaj commented on #40
@atilatosta did you see this com,ent? ^

[2017-02-21 21:32] mediumTaj opened #79 "[continuous-integration] Build and test across .NET platforms"
Build and integration/unit testing across .NET Platform (3, 4), .NET Core and Mono.

[2017-02-21 21:35] mediumTaj commented on #45
Blocked - need #40 and #24

[2017-02-21 21:51] atilatosta commented on #24
@mediumTaj Not yet, I'm doing some testing with the System.Net.Websockets namespace but still unsuccessful. In parallel I'm seeing some third party components, but the ones I saw did not work. I'm still studying this.

[2017-02-21 21:59] mediumTaj commented on #24
OK Thanks for the update! Let me know if I can help in any way

[2017-02-22 16:10] mediumTaj opened #80 "[dotnet-standard-sdk] Research automatic SDK generation"
## _As a_ SDK Developer, _I want_ automatic SDK generation, _so that_ I can speed up SDK development.

There are tools that automatically generate SDKs from Swagger documentation. We need to research these tools to speed up generation of service abstractions and data models. This will be useful even if we are only able to copy and paste generated code.

---
**Acceptance Criteria:**

 - [ ] Researc

[2017-02-22 16:35] atilatosta commented on #76
@mediumTaj I thin that it is the best way. The refactor will be hard, but it is better.

[2017-02-22 16:38] mediumTaj commented on #76
OK Let's coordinate with Maykon to find a good time to do this. We will need to merge in all outstanding branches so this doesn't get messy.

[2017-02-22 22:56] mediumTaj commented on #80
We cannot generate a .NET Standard SDK using Swagger Codegen. It introduces dependencies to libraries not compatible with .NET Standard. I will try with [AutoREST](https://github.com/Azure/AutoRest)

[2017-02-23 10:19] atilatosta commented on #80
@mediumTaj i did it with the Autorest but some abstractions are giving error. The models it's generating right.

[2017-02-23 15:20] mediumTaj commented on #80
I will give it a shot today

[2017-02-24 16:13] atilatosta commented on #12
Some tasks that I need to do:
- [ ] remove builder pattern from STT;
- [ ] remove obsolete classes;

[2017-02-27 12:15] atilatosta commented on #24
@mediumTaj i developed an example using dotnet core and websocket. I was able to connect, send and receive data. I will create the branch of this issue and develop.

[2017-03-07 20:13] mediumTaj commented on #75
Currently we have a `VCAP_SERVICES` environmental variable encrypted in AppVeyor. We are also setting a `VCAP_SERVICES` environmental variable on our machines for local testing. We need to test this approach but this would be good since we have no credentials in the repo.

[2017-03-07 20:15] mediumTaj commented on #31
See #75

[2017-03-07 22:21] mediumTaj commented on #75
`VCAP_SERVICES` on appveyor and local will be filepaths to a config file. Gitignore will have config file but for AppVeyor we will have an encrypted config file that will be decrypted before testing. When running in bluemix app though we will have illegal characters in the env variable

[2017-03-15 22:38] #10 closed

[2017-03-25 02:46] psbds opened #85 "[conversation] Dynamic Input and Context in Conversation Request"
Hi guys,

Shouldn't '**Input**' and '**Context**' in '**MessageRequest**' be **dynamic** so the user can send more data to Conversation Service other than just text?

Here are a few examples that we use here in Watson Delivery LA:
- The orchestrator puts a variable in the context indicating the channel (web,mobile,facebook,telegram) and change the dialog based on this variable
    ![image](https:/

[2017-03-27 00:43] atilatosta commented on #85
Hi @psbds! Thanks for your feedback. Yes, I think it's a great feature. We did this in MessageResponse. Let's develop this feature in MessageRequest as well.

[2017-04-04 15:32] mediumTaj commented on #11
Hey @maykonsIBM are you abstracting this service?

[2017-04-04 16:53] maykonsIBM commented on #11
@mediumTaj Slower than I'd like, but, yes I'm doing abstraction

[2017-04-04 17:10] mediumTaj commented on #11
Ok thanks! I just finished visual recogniton so if you need help with this you I can do some work on it too. At lest start writing tests. Let me know! For now I will start writing tests for conversation and making sure we are at a good point with the other services. Thanks for your help!

[2017-04-17 21:21] kenns247 opened #88 "Add support for .NET Framework 4.5.1 and above"
There appears to be no assembly references or content files that are compatible with 4.5.2 (or other) .NET Frameworks for the SpeechToText and ToneAnalyzer nuget packages.
Support for v4.5.1 and above of the .NET Framework would be greatly advised and appreciated.

[2017-04-17 23:15] atilatosta opened #89 "[dotnet-standard] Support .NET Framework (4.5.1 >=)"
We need add support to .NET Framework (4.5.1 >=)

[2017-04-17 23:15] #89 closed

[2017-04-17 23:16] atilatosta commented on #89
duplicity: https://github.com/watson-developer-cloud/dotnet-standard-sdk/issues/88

[2017-04-19 07:11] Daiki-Kawanuma opened #91 "Add Xamarin support"
This SDK cannot be used on Xamarin projects due to "Microsoft.AspNet.WebApi.Client" package.

Package Microsoft.AspNet.WebApi.Client 5.2.3 is not compatible with netstandard1.6 (.NETStandard,Version=v1.6). Package Microsoft.AspNet.WebApi.Client 5.2.3 supports: - net45 (.NETFramework,Version=v4.5) - portable-net45+netcore45+wp8+wp81+wpa81

As described above, Microsoft.AspNet.WebApi.Client doesn't

[2017-04-19 14:27] mediumTaj commented on #91
@atilatosta Have you tested this?

[2017-04-19 14:28] mediumTaj opened #92 "Add examples for Speech to Text and update Readme"
Add examples for Speech to Text and update Readme

[2017-04-22 01:06] Daiki-Kawanuma commented on #91
Sorry for the late reply.

I tried to add this SDK package to Xamarin .NET Standard PCL project but it failed.
The following is NuGet package install error.

Restoring packages for 'WatsonSample'.
Restoring packages for /Users/DaikiKawanuma/Projects/WatsonSample/WatsonSample/project.json...
Restoring packages for .NETStandard,Version=v1.6.2...
Resolving conflicts for .NETStandard,Version=v1.6.2...

[2017-04-26 21:41] #57 closed

[2017-04-26 21:41] #58 closed

[2017-04-26 21:41] #48 closed

[2017-04-26 21:41] #14 closed

[2017-04-26 21:41] #80 closed

[2017-04-26 21:41] #74 closed

[2017-04-26 21:42] #12 closed

[2017-04-26 21:42] #59 closed

[2017-04-26 21:44] mediumTaj commented on #17
The service is complete via swagger codegen.

[2017-04-26 21:44] mediumTaj commented on #92
Complete

[2017-04-26 21:44] #92 closed

[2017-04-26 21:48] mediumTaj commented on #77
Need to change the version in all project.json files, readme instructions and Doxyfile

[2017-04-26 21:49] #40 closed

[2017-04-26 21:49] #24 closed

[2017-04-26 21:50] #75 closed

[2017-04-26 21:52] mediumTaj commented on #32
Coverage is being stored in coveralls - we don't need this.

[2017-04-26 21:52] #32 closed

[2017-04-26 21:52] #31 closed

[2017-04-26 21:53] #30 closed

[2017-04-29 00:21] atilatosta commented on #91
@Daiki-Kawanuma hi! We believe that support is possible. We're working on it.

@mediumTaj We are doing some implementations and testing to try to make this possible

[2017-05-02 17:36] atilatosta opened #99 "[dotnet-standard-sdk] MS Test Framework version change"
Change the version of MS Test Framework in all projects to the latest release version.

[2017-05-11 11:43] shawnmclean opened #100 "NetCore support"
Are there any plans to support netcoreapp?

I looked into the code for the upgrade path and found that there may be some code changes required.

The most major change I've noticed is the removal of `System.Net.Http.Formatting`. Your code depends on this for serialization formats, it may be possible to rewrite these sections using strings and determine the serialization type manually.

I could pick

[2017-05-16 14:30] mediumTaj commented on #100
Sure, we can use all the help we can get! @atilatosta can you keep an eye on this?

[2017-05-18 13:23] atilatosta commented on #100
@shawnmclean, @mediumTaj  hi guys! We are trying to solve the Xamarin support problem and we believe that it solves this problem as well. If the problem is not solved, we will be very happy if you can help us. We are testing in a local repository. I believe we have an answer by Friday. I'll let you know around here.

[2017-05-20 13:42] shawnmclean opened #102 "Natural Language Understanding Service"
Are there any plans to implement the NLU services? I do not see it listed in: https://github.com/watson-developer-cloud/dotnet-standard-sdk/issues/1

I could start working iteratively on this package if nothing is planned.

[2017-05-20 13:53] mediumTaj commented on #102
Thanks for your help!! NLU is definitely planned. I am currently working on auto generating the service abstractions through swagger code gen. We do need help on the sdk core and services that are not easily generated like speech to text and text to speech.

[2017-05-22 15:04] #102 closed

[2017-05-22 15:10] shawnmclean commented on #102
@mediumTaj Got any ETA for NLU?

[2017-05-22 15:36] mediumTaj commented on #102
No ETA yet. I'm planning to start generation of NLU and Discovery this week. You can track the generated SDK [here](https://github.com/mediumTaj/dotnet-standard-sdk-generated). Don't mind the readme files. I haven't had time to work on those templates yet.

[2017-05-26 14:20] mediumTaj opened #103 "Refactor SDK to accept generated services"
Currently each service abstraction version shares a readme, unit and integration tests and example project. In the generated SDK I have created service abstractions per version with unit and integration tests and example project per version. https://github.com/mediumTaj/dotnet-standard-sdk-generated

This allows us to have packages for different service versions that have tests, examples and docum

[2017-05-26 14:26] mediumTaj commented on #103
@atilatosta what do you think of this? We need to tie the tests, examples, and readme to the specific service version. Also we can have different nuget packages for each version. Am I not considering something here?

[2017-05-29 11:16] atilatosta commented on #103
@mediumTaj I like this way of separation. It makes sense to separate projects by version

[2017-05-29 16:37] mediumTaj commented on #103
@atilatosta OK Awesome! I'll start work on that tomorrow.

[2017-06-02 20:22] mediumTaj commented on #103
@germanattanasio brought up a good point. If an application already is using a package, Visual Recognition V1, for example. Is it an issue to refactor the project to use the the Visual Recognition V2 package to use V2 features? Or is it easier to have a `IBM.WatsonDeveloperCloud.VisualRecognition` pacakge that just gets updated when V2 is released?

Google has versioned services
https://github.com

[2017-06-06 17:51] atilatosta commented on #103
@mediumTaj I think a good point, but how would users have control over which version are you using?

[2017-06-06 21:30] mediumTaj commented on #103
@atilatosta They would use the particular  version of the SDK that supports that version. I think I like separating the services by version though. I feel like service will differ greatly between versions, developers will have to refactor anyway. If the versions are very close, they will just have to change the using statement.

[2017-06-08 01:58] jefftmahoney commented on #91
I would really love to see Xamarin supported.  I'm running it on a Mac and have tried targeting my solution to every .NET framework version in the list, and no luck.  The error I get makes it sound like the problem is the framework version I'm targeting, but the thread above seems to indicate deeper problems.  Anyway, would love to have this if you can make it happen!

[2017-06-08 18:50] mat0pad commented on #100
Any news on this?

[2017-06-08 19:21] mediumTaj commented on #100
Nothing yet, @atilatosta is looking into it.

[2017-06-14 15:52] jrtorres opened #108 "Broken Links in README"
Links in the README under the "Installing the Watson .NET Standard SDK" section are not using the version numbers for the packages and resulting in 404.

[2017-06-14 18:56] mediumTaj commented on #108
Thanks for the heads up. I will look into it. FYI the links should look like (this)[https://github.com/watson-developer-cloud/dotnet-standard-sdk/tree/development/src/IBM.WatsonDeveloperCloud.Conversation.v1]

[2017-06-15 16:09] #108 closed

[2017-06-15 16:10] #103 closed

[2017-06-15 16:10] #78 closed

[2017-06-15 16:27] mediumTaj commented on #76
Complete

[2017-06-15 16:27] #76 closed

[2017-06-20 00:11] mediumTaj opened #113 "Implement retry functionality in .NET SDK integration tests"
We need integration tests to retry on service failure.

[2017-06-20 00:12] mediumTaj commented on #113
@atilatosta I can't find any kind of attribute in visual studio test tools. Is this something we need to implement ourselves or do you know of something built into the test runner?

[2017-06-20 00:55] atilatosta commented on #113
@mediumTaj I believe there is no such feature. We will have to develop. I'll search.

[2017-06-20 15:03] mediumTaj commented on #113
Ok - if we have to develop this feature, let's figure out the best way to implement so we can use for any test!

[2017-06-20 19:22] #11 closed

[2017-06-20 19:23] #45 closed

[2017-06-20 19:23] #17 closed

[2017-06-21 09:23] Ina299 opened #116 "Direct interaction mode"
I offered my customer unity-sdk but was rejected because of the security.
It is difficult to use this sdk in unity because this sdk requires to write service credential in it.
This can not be accepted by gaming industry because there are a lot of cheating.
So we need "Direct interaction with a service" mode.
⭐️See token based programming model below.
https://www.ibm.com/watson/developercloud/doc/c

[2017-06-21 14:13] gabrielnzahi opened #117 "Proxy issues on corporate networks"
Found out it is difficult to use the api on corporate networks that require proxy settings.  Is there a way to add network proxy settings? Thanks

[2017-06-21 20:38] Jamie22 opened #118 "[speech-to-text] System.Net.Http conflict"
When I build my project, I get the following warning:

Warning	MSB3243	No way to resolve conflict between "System.Net.Http, Version=4.1.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" and "System.Net.Http, Version=1.5.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a". Choosing "System.Net.Http, Version=4.1.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" arbitrarily.	SliqSpeechTo

[2017-06-22 15:39] atilatosta commented on #117
@gabrielnzahi yes, today this has not yet been implemented, but it is possible.

[2017-06-23 19:02] mediumTaj opened #119 "Support authentication tokens"
Support tokens for authentication in addition to local file/env variable

https://www.ibm.com/watson/developercloud/doc/common/getting-started-tokens.html

[2017-06-24 12:57] atilatosta commented on #119
@mediumTaj Is this defect related to this other #116 ?

[2017-06-24 13:10] mediumTaj commented on #119
Ah yes sorry this is a duplicate then. I will be working on the same thing for the Unity SDK.

[2017-06-24 13:11] #119 closed

[2017-06-26 15:19] Nazgaul commented on #88
The nuget package is not compatible with. Net 4.6.2

[2017-06-26 15:36] mediumTaj commented on #88
@atilatosta Will this issue be resolved by the changes you're implementing?

[2017-06-27 19:28] atilatosta commented on #88
@taj and @Nazgaul Unfortunately we will still not support 4.5.x, only from 4.6. This is because we have dependencies ([System.Net.WebSockets.Client](https://www.nuget.org/packages/System.Net.WebSockets.Client/4.3.0)) that are available only from version 1.3 of the standard .NET.

[2017-06-28 09:30] cheawan commented on #88
Install-Package : Could not install package 'IBM.WatsonDeveloperCloud.VisualRecognition.v3 1.0.0'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.0', but the package does not contain any
assembly references or content files that are compatible with that framework. For more information, contact the package author.

[2017-06-28 10:18] cheawan opened #121 "Cannot install Visual Recognition API"
PM> Install-Package IBM.WatsonDeveloperCloud.VisualRecognition.v3
  GET https://api.nuget.org/v3/registration2-gz/ibm.watsondevelopercloud.visualrecognition.v3/index.json
  OK https://api.nuget.org/v3/registration2-gz/ibm.watsondevelopercloud.visualrecognition.v3/index.json 236ms
Restoring packages for c:\users\teocw\documents\visual studio 2017\Projects\WebApplication1\WebApplication1\WebApplicat

[2017-06-28 10:19] cheawan commented on #121
Can someone please advise how to install the package?

[2017-06-28 15:09] atilatosta commented on #121
@cheawan hi! soon will be available a new version [(1.1.0)](https://github.com/watson-developer-cloud/dotnet-standard-sdk/milestone/3) that will fix this problem.

[2017-06-28 16:38] cheawan commented on #121
Great! May i know when is the date?

[2017-06-28 17:23] atilatosta commented on #121
@cheawan the due date is June 30, [see here (1.1.0)](https://github.com/watson-developer-cloud/dotnet-standard-sdk/milestone/3)

[2017-06-28 17:26] atilatosta commented on #118
@Jamie22 soon will be available a new version, [see here (1.1.0)](https://github.com/watson-developer-cloud/dotnet-standard-sdk/milestone/3), that will fix this problem.

[2017-06-29 18:49] mediumTaj commented on #85
This fix was overwritten via codegen. Revise codegen to support dynamic

[2017-07-04 11:15] cheawan commented on #121
@atilatosta looking forward to the new release :)

[2017-07-04 12:54] atilatosta commented on #121
@cheawan sorry! usually making the releases is the Taj and with the holiday of July 4th, I believe he will only return tomorrow.

[2017-07-05 01:24] atilatosta commented on #121
@cheawan tonight, the version 1.1.0 was released. Tks!

[2017-07-05 11:42] #91 closed

[2017-07-05 11:42] #100 closed

[2017-07-05 11:42] #121 closed

[2017-07-07 16:14] OzTenBearAnt commented on #118
I have IBM.WatsonDeveloperCloud 1.1.0 installed with a project targeting .NET 4.6.1 but still get a related error with SpeechToText().

   System.Reflection.RuntimeAssembly._nLoad(AssemblyName fileName, String codeBase, Evidence assemblySecurity, RuntimeAssembly locationHint, StackCrawlMark& stackMark, IntPtr pPrivHostBinder, Boolean throwOnFileNotFound, Boolean forIntrospection, Boolean suppressS

[2017-07-07 17:03] atilatosta commented on #118
@OzTenBearAnt Please, have you tried installing the Wdc.System.Net.Http.Formatting.NetStandard package?

[2017-07-07 17:34] OzTenBearAnt commented on #118
@atilatosta Yes I have version 1.0.0 of Wdc.System.Net.Http.Formatting.NetStandard installed. This is what seems to be incorrectly referencing System.Net.Http.Formatting version 5.2.**4** which does not exist.

[2017-07-07 17:47] atilatosta commented on #118
@OzTenBearAnt weird! I just created a repository with an example running 4.6.1 and STT. Please make sure it works on your machine.
[wdc-stt-example](https://github.com/atilatosta/wdc-stt-example)

[2017-07-07 18:04] OzTenBearAnt commented on #118
@atilatosta I downloaded your repo and setup the solution with my own wdc username and password in VS2017. I get the same exact runtime error when initializing SpeechToTextService

  HResult=0x8013141A
  Message=Could not load file or assembly 'System.Net.Http.Formatting, Version=5.2.4.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' or one of its dependencies. Strong name validation failed. (

[2017-07-07 18:49] atilatosta commented on #118
@OzTenBearAnt the version 5.2.4 has not yet been released by Microsoft, though we recompiled it to the .net standard library and added the package to nuget.org [Wdc.System.Net.Http.Formatting.NetStandard](https://www.nuget.org/packages/Wdc.System.Net.Http.Formatting.NetStandard/). So dotnet-standard-sdk version 1.1.0 is referencing this package. Please, have you tried clearing your nuget's cache o

[2017-07-07 21:56] OzTenBearAnt commented on #118
@atilatosta I did clear the cache and I have VS setup to restore packages automatically, still getting the same error. I've unloaded and reloaded the project, cleaned and rebuilt the solution, etc. Definitely still something wrong here.

[2017-07-07 22:15] atilatosta commented on #118
@OzTenBearAnt sorry! on my machine is happening okay, there is a guy on my team who has been able to reproduce the same error as you, I am trying to identify what is happening.

[2017-07-10 18:52] ratans opened #125 "[NaturalLanguageUnderstanding.v1] Could not load file or assembly - System.Net.Http.Formatting"
While using the nuget package - IBM.WatsonDeveloperCloud.NaturalLanguageUnderstanding.v1, and creating an object of new NaturalLanguageUnderstandingService(); I am facing this issue -

`System.IO.FileLoadException: 'Could not load file or assembly 'System.Net.Http.Formatting, Version=5.2.4.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' or one of its dependencies. The located assembly's manif

[2017-07-10 19:19] mediumTaj commented on #125
See this issue here
https://github.com/watson-developer-cloud/dotnet-standard-sdk/issues/118

[2017-07-10 19:19] #125 closed

[2017-07-11 16:28] ratans commented on #118
Any timeline on when we can expect this to be resolved. Its holding all our development work related to natural language understanding api.

[2017-07-11 18:13] ratans commented on #118
We are really waiting for this to work, please let us know what is the status/timeline. Is there a way I can use your service by making REST api service calls without using SDK for the time. Any sample demo/link would be helpful. Thanks.

[2017-07-11 18:54] mediumTaj commented on #118
@atilatosta is working on it. For some reason he cannot reproduce on his local machine. We will release an update as soon as we find a solution.

[2017-07-11 20:01] atilatosta commented on #118
@ratans hey guys! we are actively working on it. I believe I'm having problems signing the assembly. I soon hope to solve.

[2017-07-12 20:22] mediumTaj opened #126 "Use standardized user-agent header"
For tracking purposes, the User-Agent header should be formatted `watson-apis-[language]-sdk/[version]`

The user-agent for the dotnet sdk should be changed to

[code]

https://github.com/watson-developer-cloud/dotnet-standard-sdk/blob/2c54a50586f4c90a4afb878a7c3e39b3bca22950/src/IBM.WatsonDeveloperCloud/Constants.cs#L29

[2017-07-13 11:54] yaxv commented on #118
Not sure if this is a usable workaround but at least the following steps seemed to make the .NET framework stop from throwing the following exception:

I found this article which suggests how validation can be disabled for a particular assembly:

Strong name validation failed. (Exception from HRESULT: 0x8013141A) – Anything And Everything by Keith McGuinness
https://blogs.msdn.microsoft.com/keithm

[2017-07-13 14:23] mediumTaj commented on #118
@ratans can you try @yaxv workaround to see if will work for you until @atilatosta solves the issue?

[2017-07-13 20:03] ratans commented on #118
@mediumTaj - Thanks for the update. I will try using this fix. But I got a work around that was holding up everything. So I am fine waiting for the updated build from the team on this.

[2017-07-14 20:22] atilatosta opened #128 "[general] Change exception handling to throw more specific exception"
We neeed change the code gen to the exception handling to throw more specific exception ([ServiceResponseException](https://github.com/watson-developer-cloud/dotnet-standard-sdk/blob/development/src/IBM.WatsonDeveloperCloud/Http/Exceptions/ServiceResponseException.cs))

[2017-07-15 14:58] atilatosta opened #129 "[general] Some errors can not be deserialized"
There are situations where APIs do not return an error JSON, just a message.

Check if the returned error can be converted to the ServiceResponseException, if it is not possible, instantiate an object of type ServiceResponseException with the returned message.

[2017-07-17 18:26] AmenehSh commented on #57
j

[2017-07-17 18:33] AmenehSh opened #131 "[Conversation]ServiceResponseException: The API query failed with status code"
I'm trying to connect to a conversation workspace that I created with my Bluemix account. I'm running a similar code to what is provided in conversation example (ConversationServiceExample.cs). I get the error below when the "message" function is called (

_conversation = new ConversationService("my username", "my password", ConversationService.CONVERSATION_VERSION_DATE_2017_05_26);
            _w

[2017-07-17 19:01] mediumTaj commented on #131
You need to create a MessageRequest to send.

[code]

[2017-07-17 19:26] AmenehSh commented on #131
I already did. Just didn't paste the whole file.
...
[code]

[2017-07-17 19:47] mediumTaj commented on #131
It looks correct, are you sure the username and password are correct when instantiating the service? I am currently updating the Conversation service abstraction to make some properties in MessageRequest and MessageResponse dynamic.

[2017-07-17 19:54] AmenehSh commented on #131
Sorry, you are right. I did a mistake while copy pasting my username and password. now it works fine. thanks. I will delete this issue.

[2017-07-17 19:54] #131 closed

[2017-07-17 20:38] mediumTaj commented on #128
Will change in Codegen

[2017-07-17 20:41] mediumTaj opened #133 "[general] Access raw json output from a call."
@atilatosta suggested we have a an abstract class to the models

[code]

and adding `RawJson` to the response class in the `Request`. Models that are not responses should throw an error when trying to access `RawJson`.

I will extend the data models in the codegen.

[2017-07-17 21:11] #126 closed

[2017-07-17 21:14] #129 closed

[2017-07-19 14:43] mediumTaj commented on #85
A fix of this was handwritten for the `1.2.0` release. This will still need to be implemented into codegen.

[2017-07-24 18:22] atilatosta opened #140 "[conversation] GetWorkspace() problem sending export parameter"
When trying to execute this code the intentions, entities and etc are not returned:

[code]
The error occurs because the "export" parameter sent in the querystring is going like camelcase.

[2017-07-25 12:28] Daiki-Kawanuma opened #141 "[Visual Recognition] System.IO.FileLoadException on WPF Project"
System.IO.FileLoadException happen on WPF Project.

Project Environment:
- Visual Studio Community 2017 Version 15.1 (26403.3)
- .NET Framework 4.6
- IBM.WatsonDeveloperCloud.VisualRecognition.v3 ver1.2.0

Error Code:
System.IO.FileLoadException occurred
  HResult=0x8013141A
  Message=Could not load file or assembly 'System.Net.Http.Formatting, Version=5.2.4.0, Culture=neutral, PublicKeyToken=31bf

[2017-07-25 13:41] atilatosta commented on #141
@Daiki-Kawanuma this is a bug! Related to this https://github.com/watson-developer-cloud/dotnet-standard-sdk/issues/118

[2017-07-26 13:05] Daiki-Kawanuma commented on #141
Oh, I'm sorry. I didn't have enough checks.
If there is a problem, please close this issue.

[2017-07-31 13:20] atilatosta commented on #141
@Daiki-Kawanuma no problem!

[2017-08-03 15:17] RavGup opened #143 "[Natural Language Understanding] IOException & HttpRequestException"
I downloaded Mircosoft Studio with Core Framework.
Installed IBM.WatsonDeveloperCloud.NaturalLanguageUnderstanding.v1
Write below sample code to call to get the sentiment analysis.
`NaturalLanguageUnderstandingService _nls = new NaturalLanguageUnderstandingService();
            _nls.VersionDate = "NATURAL_LANGUAGE_UNDERSTANDING_VERSION_DATE_2017_02_27";
            _nls.SetCredential("*****-***Us

[2017-08-04 13:16] atilatosta commented on #143
@RavGup there is a issue (#117) related to this. I will put it in the roadmap.

[2017-08-04 14:20] atilatosta commented on #140
Fixed: changed the UriExtension class, to ensure that the parameters sent are in lowercase.

[2017-08-04 14:20] #140 closed

[2017-08-06 15:34] rafarpd opened #144 "[Conversation] Escape input string for DeleteCounterExample"
I can list and create, but cannot delete a counterexample:

-----------------
The API query failed with status code NotFound: Not Found

Descrição: Ocorreu uma exceção sem tratamento durante a execução da atual solicitação da Web. Examine o rastreamento de pilha para obter mais informações sobre o erro e onde foi originado no código.

Detalhes da Exceção: IBM.WatsonDeveloperCloud.Http.Exceptions.S

[2017-08-06 16:32] atilatosta commented on #144
@rafarpd please make sure that the workspace id is correct according with the credentials

[2017-08-07 22:02] atilatosta commented on #144
When deleting the example, the text is sent in the path of the url, and as it is with the question mark, we are not doing the encoding correctly

[2017-08-07 22:57] mediumTaj commented on #144
Currently since we are generating the code for this abstraction we cannot escape the string because we get the `path` from swagger documentation and I cannot think of a good way to escape this. Let me bring this up with the generation team.

[2017-08-16 16:31] enginates commented on #118
i have tried that reg , but still getting error, seems VS2015 does not check the reg for that

[2017-08-17 15:49] yaxv commented on #118
@enginates I'm afraid you're right. I also get the error message when running the code in VS2015. It solves the problem in VS2017 / Windows 10 though.

[2017-08-18 14:09] mstama opened #146 "[translator] Implement async methods"
All the methods implemented by the translator service are not async but use the IClient interface that uses async methods.
All the requests are then made with an async IClient with the ".Result" at the end turning an async request into a sync request.
So just expose the methods as async and use the async httpClient methods as async methods.

[2017-08-22 12:01] clalevee opened #147 "Using Conversation in new Frankfurt region"
trying to use a Conversation service, instantiated in the new Bluemix Frankfurt region, I received following message: "not authorised"

It seems that new region not yet supported by SDK, and SDK try to connect to US.

Workaround (force Endpoint attribute):
[code]

[2017-08-22 12:29] gandhirushabh2311 opened #148 "[speech to text]Cant enable timestamps by editing the metadata parameter."
I want to extract time stamps of words in speech to text. Editing metadata.Timestamps parameter leads to a bad request. Is there some other way of getting the time stamps?

[2017-08-23 20:32] mediumTaj commented on #148
You should set timestamps to true in the request.

[code]

[2017-08-23 21:42] mediumTaj commented on #147
Yes that's correct. Each service has a default URL which is used by the majority of developers and you can override it by setting the `Endpoint` property.

We could overload the constructor on the services if you think it's useful

[code]

[2017-08-27 19:21] vyarovoy commented on #118
@atilatosta how it's going with subject issue?
We have a thirst in our project to start using IBM NLU capabilities via SDK but discovered we are simply blocked by this ticket.

[2017-08-28 18:27] atilatosta commented on #118
@vyarovoy Did you install the dependency [Wdc.System.Net.Http.Formatting.NetStandard](https://www.nuget.org/packages/Wdc.System.Net.Http.Formatting.NetStandard/)? What error exactly are you getting?

[2017-08-28 19:43] vyarovoy commented on #118
@atilatosta given very basic example - console app targeting .NET Framework 4.6, IBM.WatsonDeveloperCloud.NaturalLanguageUnderstanding.v1 added via nuget. I see IBM.WatsonDeveloperCloud (>= 1.1.0) as its dependency and Wdc.System.Net.Http.Formatting.NetStandard (>= 1.0.0) as cascading dependency from last one.

As a result I see Wdc.System.Net.Http.Formatting.NetStandard v1.0.7 installed as depend

[2017-08-29 07:55] ShotiQ opened #149 "[Speech-to-text] The service always returns Speaker "0"."

[2017-08-29 12:44] atilatosta commented on #149
@ShotiQ hi! Please, Could you provide a description?

### When reporting a bug, please be sure to include the following:

- [ ] Start the title with the service name in brackets:  `[speech-to-text] websockets...`
- [ ] Steps to reproduce
- [ ] Expected behavior
- [ ] Actual behavior
- [ ] SDK version

### When you open an issue for a feature request, please add as much detail as possible:
- [ ] A

[2017-09-01 09:47] ratans commented on #118
@atilatosta  - Any idea when we can expect a fix for this. This is a showstopper bug for us going forward, and migrating our application from old service to new one.

[2017-09-02 16:33] atilatosta opened #150 "[Conversation] - Dialog Node methods with wrong enpoint"
the methods are with the wrong url, it has "dialogNodes" and should be "dialog_nodes":

ConversationService.DeleteDialogNode
ConversationService.GetDialogNode
ConversationService.UpdateDialogNode

[2017-09-05 05:17] vyarovoy commented on #118
@atilatosta , @ratans yesterday I run over my demo project by luck and found bunch of nuget packages updates pending. Right after update process issue mentioned above has gone, service instance now initializes without any error.

My colleague said there is another tricky error further way but seems as it will be separate topic.

[2017-09-05 17:12] atilatosta commented on #118
@vyarovoy good! Tks!

@ratans i'm having difficulty generating the scenario, in my machine it works. Let me know more details about your environment

[2017-09-06 19:29] mediumTaj commented on #150
@atilatosta Sorry, I will fix this in the codegen! If you can fix this when you have some time in the development branch, that would be awesome!

[2017-09-13 19:37] ratans commented on #118
@atilatosta I tried to create another sample today, and faced the same issue.

Steps to reproduce
----------------------
Environment - Windows 10, VS 2017

Create a new console app, and add nuget package using :
PM > Install-Package IBM.WatsonDeveloperCloud.NaturalLanguageUnderstanding.v1

Next add this one line of code, and you get below error.

`NaturalLanguageUnderstandingService _naturalLangua

[2017-09-20 21:44] cchen028 commented on #118
I'm getting the exact issue mentioned above. Wdc.System.Net.Http.Formatting.NetStandard did not resolve it for me. I'm also on Visual Studio 2017/Win 10

[2017-09-21 16:15] yingkeen commented on #118
Try to check the nuget package and update everything or update at least System.Net.Http.Formatting. It solve the issue for me. Similar to what @vyarovoy  did.

[2017-09-22 16:33] ratans commented on #118
I did update the version, and here is a new error I am facing now while executing below line 👍

`NaturalLanguageUnderstandingService _naturalLanguageUnderstandingService = new NaturalLanguageUnderstandingService();`

System.Security.VerificationException occurred
  HResult=0x8013150D
  Message=Method System.Net.Http.CloneableExtensions.Clone: type argument 'System.Net.Http.Headers.MediaTypeHeaderV

[2017-09-26 22:06] dynamite7 opened #151 "[Natural Language Understading] Xamarin- "One or more errors occurred" on "analyze()""
**Edited:** Manually importing the watson developer-cloud and natural language code fixed. Nuget package is not working.

Code:
[code]

Exception:
[code]

[2017-09-27 20:26] caiosm1005 commented on #18
I am very interested in using the Document Conversion API from within a .NET plugin.

[2017-09-30 05:05] danhphan1307 commented on #118
In my case, I also had to change web.config. It must be declared 5.2.4.0 as below
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>

[2017-10-10 15:14] RMichaelPickering opened #153 "[speech-to-text] Websocket API Support"
As far as I can tell, the Watson Speech to Text service has a Websocket API available but this has not yet been included in the .NET SDK. It is desperately needed!

[2017-10-10 18:59] RMichaelPickering commented on #24
Gentlemen, based on reading through this issue it appears that Websockets should be working but I haven't found any example. Could you please clarify? Is there an example of how to call Watson Speech To Text using Websocket API using C# and the IBM Watson Developer Cloud .NET SDK?

[2017-10-10 19:18] RMichaelPickering opened #154 "[speech-to-text] Live Steaming Audio Transcription"
Already opened an issue requesting Websocket API support but am open to other options. What is the recommended leading practice for transcribing live, streaming audio using the Watson Speech To Text service and the .NET SDK? My requirement is, ideally, to be able to stream audio for transcription by Watson STT from a Windows 10 client machine running a UWP app developed in C# and .NET, but a conso

[2017-10-11 14:26] mediumTaj commented on #153
@atilatosta Do you still have the streaming example you built?

[2017-10-11 14:33] #154 closed

[2017-10-11 14:34] mediumTaj commented on #153
From @RMichaelPickering in another issue to consolidate.

[2017-10-15 17:19] ynazami commented on #118
Any updates on this issue, we are evaluating a platform and are hitting this error in the POC. Seems like this is active for more than 5 months and still not resolved :( We are facing same error in Conversation SDK for .Net.

[2017-10-19 15:58] mediumTaj opened #156 "[tests][visual-recognition] Add delay before deleting custom classifiers"
Currently Visual Recognition has a known issue where if you delete a classifier shortly after creating the classifier (about 10 seconds), the classifier is shown as deleted (ie will not show up when listing classifiers) but will not really be deleted. In the free tier this is troublesome because the user will not be able to create another classifier and has no way to get the classifier ID to delet

[2017-10-26 13:01] xjose97x commented on #118
I get this issue when instantiating the ConversationService.

Is there a fix for this yet? Perhaps a workaround? Have been researching a bit, and seems like this is a common issue when working with .NET Standard and normal .NET Framework. .NET Core does not have this issue when working with .NET Standard.

Perhaps could be worth it to rewrite this library in .NET Framework? Shouldn't be hard since

[2017-10-26 17:58] ratans commented on #118
I am really worried the way it is getting delayed to release a fix for this.

We are waiting to move our application to use the new bluemix code, from the obsolete alchemyapi token based approach. But this issue is not letting us move ahead.

Anyone from the team, can you guys give us a realistic timeline on this fix.

For any details on the issue I am facing, please check above comments.

[2017-10-26 18:46] xjose97x commented on #118
@ratans , as for now, I copied this code into a .NET Framework code. The only issue here is that you won't have this as a NuGet package, but instead a project inside your solution.

[2017-11-02 14:44] yaseminaladi commented on #118
xjose97x can you give more detail please?

[2017-11-20 12:06] DavidJFowler opened #160 "[Conversation] ConversationService.Message fails with "Connection Timed Out""
I'm unable to send messages to a conversation workspace using the SDK IBM.WatsonDeveloperCloud.Conversation.v1 Version 1.2.0.

I can use the Node.js interface or send messages using HttpClient with no issues.

The following code fails with Connection Timed Out exception.

[code]

calling the Rest API directly works with no problems:

[code]
Trace from Fiddler:

[code]

[2017-11-20 16:38] mediumTaj commented on #160
@DavidJFowler tried your code, it's working fine for me. It could be an issue with the service when you were testing. Can you please try again?

[2017-11-20 16:53] DavidJFowler commented on #160
@mediumTaj I tried again and it seems to be working now. Thanks.

[2017-11-20 16:53] #160 closed

[2017-11-20 17:14] DavidJFowler opened #161 "[Conversation] Unable to access properties of Output"
If I have a dialog node with an "action", e.g.
[code]
As MessageResponse.Output is not a dynamic property I can't access  the action and item properties via the MessageResponse object returned by the Conversation.Message method. I have to use Rest API to do this.

[2017-11-20 17:28] mediumTaj commented on #161
@DavidJFowler We dynamic types for these in the `feature-regenerate` branch. We are still waiting on a few more features to be merged in to create an official release.
https://github.com/watson-developer-cloud/dotnet-standard-sdk/tree/feature-regenerate

[2017-11-29 06:57] mdumanoj commented on #88
Is there any updates about .NET v4.5.1 support?

[2017-12-04 21:13] germanattanasio opened #162 "Add `X-Global-Transaction-Id` as part of the error"
If the SDK returns an error add the `X-Global-Transaction-Id` response header to the response.

[2017-12-06 11:01] savethehousemouse commented on #140
So how can I get the 1.3 prerelease with the problem fixed?

[2017-12-06 11:02] savethehousemouse commented on #140
nuget does not offer -as I understand- to load anything other than 'stable'

[2017-12-07 15:56] mediumTaj commented on #140
@savethehousemouse Sorry, we were waiting on some other issues to get resolved in the SDK core before putting out a new release. @atilatosta Is there a workaround to get this in?

[2017-12-12 14:42] Mayco-Anderson opened #163 "[visual-recognition] - Problem to classify with custom classifier"
I am trying to classify an image using my own trained classifier.

I am passing the classifier Id into the parameters, but it is always using the default classifier.
I already validated the parameters on the api explorer and the parameters are correct.

It seems like a bug, not sure if this is the right place to discuss this.

[2017-12-12 14:44] mediumTaj commented on #163
Can you post your code calling Visual Recognition?

[2017-12-12 15:41] Mayco-Anderson commented on #163
Sure, here is the piece of code where i call the classify

` var classifierResult = _visualRecognition.Classify(image, fileName, "image/jpeg", classifierIDs: _classifierId, threshold: 0.1f);`

The classifier id is:

`        private readonly string[] _classifierId =  { "M*********96" };
`

When I retrieve the classifiers with `_visualRecognition.GetClassifiersBrief();` My classifier is successfull

[2017-12-12 22:48] mediumTaj commented on #163
Parameter names were missing from the classify method. I added them in. If you would like to test it out the PR is [here](https://github.com/watson-developer-cloud/dotnet-standard-sdk/pull/164). I will be doing a few more updates this week and next before pushing a release.

[2017-12-12 22:51] #156 closed

[2017-12-13 15:09] mediumTaj commented on #163
Merged into develop to be included in next release.

[2017-12-13 15:09] #163 closed

[2017-12-14 18:25] Mayco-Anderson commented on #163
Thank you for the quick responses and fix =D

[2017-12-16 19:05] HanumantappaBudihal opened #165 "[Visual Recognition]_visualRecognition.Classify(imageByte, "Image.jpg", "image/jpg", Urls, Classifiers,null,0.5f); is not returning proper data"
I am trying to classify an image using my own trained classifier. Same line code was returning proper data before a week but same code is not working properly.
I am passing the classifier Id into the parameters, but it is always using the default classifier.

[2017-12-16 19:10] hkbhkb7 commented on #165
I am developing VR tool in .NET framework. _visualRecognition. Classify () this method was working fine for custom classifiers before a week. Now it's not classifying any images. It's working as default classify method even I passed classifierID's and Owner Id's. I want to resolve this problem as soon as possible

[2017-12-16 20:05] mediumTaj commented on #165
Please try to use the development branch for now. There were some API changes to the service and we are planning a release of the SDK next week.

[2017-12-23 23:33] hkbwork commented on #165
I would like to know about .NET SDK update, still I am facing same problem

[2017-12-23 23:37] hkbhkb7 commented on #165
I would like to know about the new .NET SDK release. Still, I am facing same problem with the "Classify Method". It would very help if it's solved as soon as possible because I have a urgent requirement.

[2017-12-24 00:04] hkbhkb7 commented on #163
I am also facing same issue. Please help to solve this problem because I have urgent business requirement

[2017-12-24 01:11] mediumTaj commented on #165
@hkbhkb7 is the develop branch not working for you?

[2017-12-25 17:28] HanumantappaBudihal commented on #165
Yes , It's now working for even development branch.

[2017-12-25 21:18] #165 closed

[2018-01-07 20:26] mediumTaj commented on #161
fixed in release `1.3.0`

[2018-01-07 20:26] #161 closed

[2018-01-07 20:27] #149 closed

[2018-01-07 20:29] mediumTaj commented on #22
deprecated

[2018-01-07 20:29] #22 closed

[2018-01-07 20:29] mediumTaj commented on #21
deprecated

[2018-01-07 20:29] #21 closed

[2018-01-08 12:36] Daiki-Kawanuma commented on #141
Nearly same problem also occured in ver 1.3.0
Do you have any help?

- Microsoft Visual Studio Community 2017 Version 15.5.1
- .NET Framework 4.7 WPF Project
- IBM.WatsonDeveloperCloud.VisualRecognition.v3 ver1.3.0

`Exception thrown: 'System.Security.VerificationException' in System.Net.Http.Formatting.dll
An exception of type 'System.Security.VerificationException' occurred in System.Net.Http.Fo

[2018-01-08 16:48] DavidJFowler opened #170 "[Conversation] - Unable to intialise Context variables"
Prior to version 1.3.0 the Context property of the MessageRequest class was dynamic. This made it possible to initialise variables when creating a new context:
[code]

In version 1.3.0, Context is strongly typed so this is no longer possible.

[2018-01-08 16:52] mediumTaj commented on #170
I will look into this.

[2018-01-08 17:47] mediumTaj commented on #170
Can you check if the `hotfix-dynamic-context` branch works as expected for you? If it works, I will release a patch and look at the issue further in the generator.

[2018-01-08 17:51] mediumTaj commented on #141
I believe @atilatosta is still looking into https://github.com/watson-developer-cloud/dotnet-standard-sdk/issues/118

[2018-01-09 09:00] DavidJFowler commented on #170
Hi,

Yes, that looks good.

Thanks

[2018-01-09 17:16] mediumTaj commented on #170
Fixed in `v1.3.1`. Deploying to NuGet as soon as CI passes.
https://github.com/watson-developer-cloud/dotnet-standard-sdk/releases

[2018-01-09 17:16] #170 closed

[2018-01-18 06:27] AnjuAlphonsa commented on #118
I want to know about the '[speech-to-text] System.Net.Http conflict #118' issue solved or not? if solved give me the solution.. plz..

[2018-01-18 12:21] AnjuAlphonsa commented on #118
I want to know about the [speech-to-text] System.Net.Http conflict #118 issue solved or not? if solved give me the solution... Plzz...

[2018-01-18 20:41] ratans commented on #118
I see a latest version is added , but I am still facing the same issue with  System.Net.Http

Can someone verify if it is working for any version of DotNet

[2018-01-22 20:00] mediumTaj commented on #118
@atilatosta is still trying to find some time to look into this.

[2018-02-01 03:43] dasiths commented on #118
Any update on this?

[2018-02-01 04:13] AnjuAlphonsa commented on #118
Finally I solved this problem by
1. installing Wdc.System.Net.Http.Formatting.NetStandard  nuget package
2. downgrade System.Net.Http version 4.1.0 to 4.0.0

This worked for me..

[2018-02-07 22:01] germanattanasio opened #177 "Remove Language Translation from the SDK"
### Acceptance Criteria

- [x] Should not mention Language Translation unless is a deprecation notice
- [x] Should not have code that sends requests to `language-translation`

[2018-02-12 15:58] germanattanasio commented on #18
Document Conversion was deprecated and all its capabilities are not part of discovery. I'm closing this since Discovery is already supported in this SDK

[2018-02-12 15:58] #18 closed

[2018-02-12 15:58] germanattanasio commented on #1
This was completed

[2018-02-12 15:58] #1 closed

[2018-02-28 21:33] themisterbondy commented on #118
@AnjuAlphonsa
**_Thank you, this worked for me!_**

[2018-03-08 22:55] mediumTaj opened #185 "Write code migration guide for release"
https://github.com/watson-developer-cloud/java-sdk/wiki/Migration
https://github.com/watson-developer-cloud/python-sdk/wiki/Migration

[2018-03-09 00:13] #177 closed

[2018-03-09 11:03] mrHassanRaza opened #188 "Error Could not install package 'IBM.WatsonDeveloperCloud.NaturalLanguageUnderstanding.v1.Temp 0.2.0'."
Severity	Code	Description	Project	File	Line	Suppression State
Error		Could not install package 'IBM.WatsonDeveloperCloud.NaturalLanguageUnderstanding.v1.Temp 0.2.0'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.5', but the package does not contain any assembly references or content files that are compatible with that framework. For more information,

[2018-03-09 13:54] mediumTaj commented on #188
This is not our package. Please use IBM.WatsonDeveloperCloud.NaturalLanguageUnderstanding.v1

[2018-03-09 13:54] #188 closed

[2018-03-09 23:52] mediumTaj commented on #185
https://github.com/watson-developer-cloud/dotnet-standard-sdk/wiki/Migration

[2018-03-09 23:52] #185 closed

[2018-03-12 16:32] parsha opened #189 "[Text-To-Speech]"
It seems that the synthesize method in the new update does not produce current Stream.

I was using the last version and it was working properly but today I updated to the new release (2.0.0) and it seems it's broken.

I used
[code]

But when I play the content of the stream, it is almost empty.

I have tried all the "accept" options or other model voices...

[2018-03-12 16:39] mediumTaj commented on #189
Let me take a look.

[2018-03-12 17:48] mediumTaj commented on #189
Hi @parsha - in `src/IBM.WatsonDeveloperCloud.TextToSpeech.v1/TextToSpeechService.cs` can you change line 128

from:
[code]

to (mind the case of the `accept`):
[code]

If you are using the nuget package, I will have an update to the package today.

[2018-03-12 20:24] mediumTaj commented on #189
@parsha IBM.WatsonDeveloperCloud.TextToSpeech.v1 v2.0.1 has been deployed to NuGet and will be available shortly.

[2018-03-12 20:24] #189 closed

[2018-03-14 18:46] ratans commented on #118
Just wanted to give an update. It worked for me when I am installing this in an Asp.Net Core application.

[2018-03-15 14:18] xjose97x commented on #118
@ratans ya, this issue only appeared when working in a .net framework application.

[2018-03-19 15:26] pierre-weceipt opened #194 "[Natural Language Understanding] Update documentation"
The quick sample provided  [here](https://github.com/watson-developer-cloud/dotnet-standard-sdk/tree/development/src/IBM.WatsonDeveloperCloud.NaturalLanguageUnderstanding.v1) is incorrect.

[code]
should be
[code]

It would help others getting started, I had to look at unit testing code to find the correct version string and avoid the error message `BadRequest`. Maybe the API exception messages co

[2018-03-21 19:42] mediumTaj commented on #194
Thanks! fixed in this readme and others https://github.com/watson-developer-cloud/dotnet-standard-sdk/pull/195

[2018-03-26 18:26] newtogithub2 opened #196 "[Natural-Language-Understanding] unauthorized error when using .Net SDK for Natural Language Understanding"
I am trying to use the .Net SDK for Natural Language Understanding, but I keep getting an "unauthorized" error.

I tried various forms of the code below but I can't get anything to work.  The code below is basically from the SDK example code.  I have registered the ID and password and have successfully created a free account on the Watson cloud. So I am not sure what else do I need to do.
[code]

[2018-03-26 20:38] newtogithub2 commented on #196
**mediumTaj** thank you very much for your prompt response. That was very nice of you.

Unfortunately, when I try to you use your URL I still get the following error in my C# code:
"The API query failed with status code Unauthorized: Unauthorized"

Were you able to get the example in the SDK to work? The interesting thing is, even when I run the API sample page on the Watson site... https://watson

[2018-03-26 20:52] newtogithub2 commented on #196
I keep getting the "unauthorized" error even with that URL?

See my feedback, at this GitHub link:  https://github.com/watson-developer-cloud/dotnet-standard-sdk/issues/196

[https://avatars1.githubusercontent.com/u/37812566?s=400&v=4]<https://github.com/watson-developer-cloud/dotnet-standard-sdk/issues/196>

[Natural-Language-Understanding] unauthorized error when using .Net SDK for Natural Langu

[2018-03-26 21:24] mediumTaj commented on #196
The SDK integration tests and examples are working. Can you double check your credentials?

[2018-03-26 22:10] newtogithub2 commented on #196
**mediumTaj**  thanks again for your response.  I did try without setting the endpoint, but I got same error.

Also, I don't know how else to verify my credentials other than logging into the IBM cloud (which works).  I think my account is just a "Lite" account.  Are people with "Lite" accounts able to use this SDK?  Is there another way of checking if my credentials are valid for SDK usage?

[2018-03-26 23:10] mediumTaj commented on #196
Can you please send me your code including credentials to ajiemar at gmail dot Com

[2018-03-27 00:43] mediumTaj commented on #196
@newtogithub2 I see what is happening. You are using your IBM Cloud credentials to try to authenticate the service. You need to go into your IBM Cloud Natural Language Understanding service (console.bluemix.net and click on your Natural Language Understanding instance) click **Service Credentials** on the right, you should see your credentials for the service. If they are not there, click the **Ne

[2018-03-27 15:57] mediumTaj commented on #196
@newtogithub2 Were you able to make this work?

[2018-03-27 15:59] #194 closed

[2018-03-27 18:33] newtogithub2 commented on #196
@mediumTaj - yep, you were absolutely right!!  Once I did that everything fell in place. I even stumbled upon this very helpful link https://console.bluemix.net/docs/services/natural-language-understanding/getting-started.html while following your directions. It has a nice "getting started tutorial" section.  Thank you so much for being so helpful with such quick responses. I would not be where I

[2018-03-27 18:45] mediumTaj commented on #196
Awesome, glad to hear. Closing this issue.

[2018-03-27 18:45] #196 closed

[2018-03-28 08:37] MrIceWolf opened #197 "[Visual Recognition] Image extension is not specified"
There seems to be an issue at line 165 of
`src/IBM.WatsonDeveloperCloud.VisualRecognition.v3/VisualRecognitionService.cs`
in DetectFaces() causing it to only return errors when uploading images from a local disk.

The line in question is:

`formData.Add(imagesFileContent, "images_file", "filename");`

The third parameter `"filename"` looks like it should be `''filename.jpg''` or `''filename.png''`

[2018-04-02 02:58] shawnmclean opened #198 "[speech-to-text] Recognize with timestamps: true throws exception"
I'm using your `test-audio.wav` found in the Speech to Text service integration test as test data.

Code: `service.Recognize("audio/wav", stream, timestamps: true);`

This is throwing a `NullReferenceException` with the stack trace:\\

[code]

Fiddler shows that the http call was made and a result came back as expected. It seems to be an error with parsing the result or some post request operation

[2018-04-03 17:12] surendarnatarajan opened #200 "URL encode all query params before making requests"
System.AggregateException: 'One or more errors occurred. (The API query failed with status code Unauthorized: Unauthorized) (The API query failed with status code Unauthorized: Unauthorized

This is how i have create a console app
[code]
 why im i not able to hit the api and i get the above error. do i need to add my credentials in the services page as well ?

[2018-04-03 18:15] mediumTaj commented on #200
@surendarnatarajan Are you using the correct credentials? These should not be your IBM cloud credentials. Each service has it's own set of credentials. See https://github.com/watson-developer-cloud/dotnet-standard-sdk/issues/196#issuecomment-376357821

[2018-04-03 18:30] surendarnatarajan commented on #200
@mediumTaj Thank you for your response. Yes I am using my IBM Cloud Natural Language Understanding service credentials and not the login credentials .
I am able to run my console application but not getting the result. Getting as ****IBM.WatsonDeveloperCloud.NaturalLanguageUnderstanding.v1.Model.AnalysisResults****
![capture](https://user-images.githubusercontent.com/20180041/38268159-07fc581e-379

[2018-04-03 18:43] mediumTaj commented on #200
You are not getting the `Unauthorized` exception anymore?

You will need to serialize the result object before printing it out.
Instead of

[code]

Try

[code]

[2018-04-03 18:52] surendarnatarajan commented on #200
@mediumTaj  Thank you very much !! I am at least getting some response now. But I am not getting the Emotions score.
Can you let me know how to i get the "text" emotions score.
![image](https://user-images.githubusercontent.com/20180041/38269460-34144f26-379e-11e8-9055-a27386ef6ae0.png)

[2018-04-06 16:29] mediumTaj commented on #198
Thanks @shawnmclean I will look at this in the generator.

[2018-04-11 11:05] ShotiQ commented on #198
Same problem.

[2018-04-12 11:13] ShotiQ opened #204 "[speech-to-text] Create session method is gone"
`var results = _speechToText.CreateSession("<model-name>");`

the CreateSession method doesn't exist. Im using sdk version 2.2.0

[2018-04-12 11:46] mediumTaj commented on #204
Let me take a look at this today. It may have been removed in generation.

[2018-04-16 20:41] mediumTaj commented on #204
It looks like sessions operations were excluded in the SDK generator. Let me see if I can add the methods back into the handwritten service abstraction.

[2018-04-16 21:39] mediumTaj commented on #204
@ShotiQ Can you test this branch?

https://github.com/watson-developer-cloud/dotnet-standard-sdk/pull/205

[2018-04-16 22:16] mediumTaj commented on #198
I changed the model from being a `List<string>` to `List<List<string>>`. Speech to Text v1 model had it as `string[][]`. Can you test this in this PR?

https://github.com/watson-developer-cloud/dotnet-standard-sdk/pull/205

[2018-04-17 15:33] jeffpk62 commented on #198
@mediumTaj I know this is a code generation issue, but if you think the description could be more clear, let me know.  I did what I could with the Swagger definition; STT and Swagger don't cooperate well.

[2018-04-23 16:40] #19 closed

[2018-04-23 16:40] #13 closed

[2018-04-23 16:40] #15 closed

[2018-04-23 16:40] mediumTaj commented on #20
deprecated

[2018-04-23 16:40] #20 closed

[2018-04-23 16:40] #16 closed

[2018-04-23 16:55] mediumTaj commented on #133
We can access json in each response

[code]

[2018-04-23 16:55] #133 closed

[2018-04-25 21:58] xjose97x opened #209 "Why not typed classes (Conversation)"
I've checked that the MessageResponse class in the Conversation Library has dynamic properties. Why have as dynamic instead of typed classes?

[2018-04-26 01:45] xjose97x commented on #209
I noticed that in previous versions we used classes such as RuntimeEntity, RuntimeIntent, RuntimeOutput, etc. That worked pretty well.

[2018-04-26 14:58] mediumTaj commented on #209
Hi @xjose97x ,
There is a requirement that users be able to pass custom data through the Conversation service. The Watson SDKs are now completely generated from the [swagger](https://watson-api-explorer.mybluemix.net/) so all of the SDKs are consistent.

Closing this issue since it's not a problem with the SDK.

[2018-04-26 14:58] #209 closed

[2018-04-28 20:00] thiagoloureiro opened #211 "Update Text to Speech example"
Issue using the Latest source, and examples.

**(username and password working correctly with curl commands)**

For example
[code]
Error:

[code]

This issue happen also with TexttoSpeech methods and so on.

[2018-04-28 20:30] mediumTaj commented on #211
@thiagoloureiro I am able to list text to speech models.

[code]

Are there any specific methods that are not working? What region are you trying to access? You can set the URL to see if it helps
[code]

[2018-04-29 15:37] #211 closed

[2018-05-02 01:06] mohsin671 opened #214 "[tone-analyzer] Error NU1108: Cycle Detected error"
[tone-analyzer] Cycle detected error
Having the following 2 errors in VS 2017:
error NU1108: Cycle detected.
error NU1108: IBM.WatsonDeveloperCloud.ToneAnalyzer.v3 -> IBM.WatsonDeveloperCloud.ToneAnalyzer.v3 (>= 2.2.1).

Any help around?

[2018-05-02 01:07] mohsin671 commented on #214
[tone-analyzer] Having the following 2 errors in VS 2017:
error NU1108: Cycle detected.
error NU1108:   IBM.WatsonDeveloperCloud.ToneAnalyzer.v3 -> IBM.WatsonDeveloperCloud.ToneAnalyzer.v3 (>= 2.2.1).

Any help around?

[2018-05-02 15:11] mediumTaj commented on #214
@mohsin671 I added your comment into the description and deleted it.

Can you share a little bit more about your project? Does this happen when you install the SDK using NuGet? Can you try to clean, rebuild, delete bin and obj folders and try again?

[2018-05-04 03:51] mohsin671 commented on #214
I installed the SDK with dotnet CLI with following command:
dotnet add package IBM.WatsonDeveloperCloud.ToneAnalyzer.v3 --version 2.2.1

Clean and rebuild does not help. I still get hose errors. I am using VS 2017.

[2018-05-04 04:28] ShotiQ commented on #204
Hi. Thank you!  Now It can create sessions. Thanks!

[2018-05-04 18:28] fmarsland commented on #118
Wondering if this issue was ever fixed? I am encountering this problem trying to use the natural language understanding, and losing my mind trying to get this to work. Tried the suggested workarounds/fixes, but I am working in a framework application, so I suspect I may be sol.

[2018-05-04 20:38] mediumTaj commented on #118
@fmarsland Can you please try installing

[code]

[2018-05-09 18:01] drpcads opened #216 "[Discovery] README.MD Examples Inconsistencies"
ConfigurationId was removed as a parameter of AddDocument from rc-1.2.0 to rc-1.3.0.

The AddDocument as seen on the current README.md
[code]

Actual AddDocument signature on IDiscoveryService.cs
[code]

[2018-05-14 15:43] Brianawalker commented on #198
@mediumTaj

**_Hi, I'm supporting a client who is experiencing a similar problem using .NET SDK for Watson's Speech to Text._** Exception raised with Visual Studio 2017 when you set timestamps to true on Watson

Description:
System.NullReferenceException raised in client.Recognize function when you run following code with Visual Studio 2017.

`string username = "---";
string password = "---";
stri

[2018-05-17 16:52] cobalto opened #228 "[Multiple Services] Use FileStream instead of Stream when sending files to preserve filename"
### Steps to reproduce

I'm sending files to the service as indicated on the readme.md as follows:
[code]

### Expected behavior

Files being sent to service with actual file name that I'll later use on my application logic when consuming the result of quering Discovery Service.

### Actual behavior

All files are sent with the name "filename" to the service.
And now I have HUNDREDS of files calle

[2018-05-17 20:42] mediumTaj commented on #228
@cobalto I was able to add this to the generator. Unfortunately this change will affect the Discovery, Visual Recognition, Language Translator, Speech to Text, Text to Speech and Natural Language Classifier services. I'm pushing for a release tomorrow but I won't be able to add this fix until next release on June 1.

[2018-05-18 07:33] MrIceWolf commented on #228
This is the same issue I was having while using Visual Recognition.
I posted an issue about it but I never recieved any feedback on it.

@mediumTaj
If this issue is resolved you can close issue #197 as well.

[2018-05-18 13:29] cobalto commented on #228
@mediumTaj No problem, we're still doing tests on our business logic anyway, June is a pretty fair date, we will just pretend it's working until then 🤣

Also, we can always switch to the local modified version as a workaround for a while if really necessary.

Thanks, man! 😎

@MrIceWolf wow, sorry to hear that, but hope with this issue your problem get solved as well 👍

[2018-05-18 14:05] mediumTaj commented on #228
@MrIceWolf Ah, sorry that issue got lost! Yes this should fix that issue too.

[2018-05-18 15:32] mediumTaj commented on #216
https://github.com/watson-developer-cloud/dotnet-standard-sdk/pull/229

[2018-05-18 15:34] mediumTaj commented on #200
@surendarnatarajan Are you still having issues with Natural Language Understanding?

[2018-05-21 15:55] mediumTaj opened #232 "[major-release] Reorder constructor params in next major version"
For the next major release we need to regenerate the SDK with revised service constructors per @mkistler 's comment in the generator.

[2018-05-30 15:47] mediumTaj commented on #228
Fixed in https://github.com/watson-developer-cloud/dotnet-standard-sdk/pull/239

[2018-05-30 15:47] #228 closed

[2018-05-30 15:47] mediumTaj commented on #197
Fixed in https://github.com/watson-developer-cloud/dotnet-standard-sdk/pull/239

[2018-05-30 15:47] #197 closed

[2018-05-30 15:49] mediumTaj commented on #204
@ShotiQ Are you still having issues with the service? Can you try the latest release https://github.com/watson-developer-cloud/dotnet-standard-sdk/releases/tag/v2.3.0

[2018-06-06 13:27] KarthickTC commented on #200
Above sentence with the exclamatory mark does not give any result. I just removed the exclamatory mark and passed the sentence as "This is very good news." and i could get the result with emotion object.

[2018-06-08 04:56] JessePerry opened #241 "This line causing an aggregate Exception when response is 401"
https://github.com/watson-developer-cloud/dotnet-standard-sdk/blob/66559ceb8ddb3d424c7149f75f5def5170a7a840/src/IBM.WatsonDeveloperCloud/Http/Filters/ErrorFilter.cs#L37

In my case, the response doesn't contain any header for ContentType.
So ContentType is null, then MediaType is called, and boom.

This wraps a typical response 401 in an unreadable aggregate NullReferenceException.

[2018-06-16 02:49] mstama opened #247 "SetCredential(APiKey) is not correct"
The translator api documentation says that the api key authentication used basic authentication: https://www.ibm.com/watson/developercloud/language-translator/api/v2/curl.html?curl#authentication

The IAM uses a bearer. Tried to used the SetCredential(ApiKey) with an error after another. Then used the SetCredential(username, password) passing "apikey", {generated api key} and the it just worked.

[2018-06-16 03:31] mediumTaj opened #248 "Move `SetCredential(apikey)` from base servce to VisualRecognition"
Other services cannot authenticate using `SetCredential(apikey)`. This should be moved to VisualRecognition to avoid confusion.

[2018-06-16 03:35] mediumTaj commented on #247
`SetCredential(apikey)` is only for the VisualRecognition service. I raised an issue to move this from the base service class to the VisualRecognition service. To authenticate with an iam apikey use tokenoptions:

https://github.com/watson-developer-cloud/dotnet-standard-sdk#iam-authentication

You can also use `SetCredential(TokenOptions options)` to authenticate using iam apikey. While it's poss

[2018-06-16 03:35] #247 closed

[2018-06-19 04:48] johnpisg opened #249 "[SpeechToTextService] CreateJob() method throws "UnsupportedMediaType""
[SpeechToTextService] CreateJob() method throws "UnsupportedMediaType" because the correct content type is not being added into the header of the request:

We are using a registered callback URL, when we call the createJob() method, even We are passing the contentType as "audio/wav", the Request created does not contain this as the "Content-Type" header.

**Line to Reproduce it:**

 RecognitionJob

[2018-06-25 06:34] sumitrathee commented on #118
This information might help someone. I was receiving this exception while instantiating SpeechToTextService class. - System.Security.VerificationException: 'Method System.Net.Http.CloneableExtensions.Clone: type argument 'System.Net.Http.Headers.MediaTypeHeaderValue' violates the constraint of type parameter 'T'.'

Resolution - Updating System.Net.Http nuget version to 4.3.3 resolved the issue for

[2018-06-27 15:43] mediumTaj commented on #204
Closing due to inactivity. Please reopen if you are still having issues.

[2018-06-27 15:43] #204 closed

[2018-06-27 15:47] mediumTaj commented on #200
@KarthickTC Sorry I missed this message. This may be an issue with query params in general. I'll see if I can URLEncode all query params before making the service call.

[2018-06-28 18:40] #248 closed

[2018-07-12 14:23] acollard opened #261 "[speech-to-text] SpeechToTextService.Recognize call throws ServiceReponseException "The API query failed with status code Unauthorized: Processed" when using IamApiKey authentication."
I used the following code:
[code]

The Recognize call returns unauthorized status code with the reason phrase "Processed". The auth challenge header (WWWAuthenticate) in the response has the value: Basic realm="IBM Watson Gateway(Log-in)".

I know the API Key I am using is valid because I am able to return a valid token from https://iam.bluemix.net/identity/token.

All documentation seems to use u

[2018-07-12 15:07] acollard opened #262 "All services should expose Async methods instead of blocking calls that perform async operations internally."
Blocking async operations like HttpRequests or File IO is a bad idea. https://msdn.microsoft.com/en-us/magazine/jj991977.aspx

The internal code that uses IRequest supports Async but it is blocked right before returning to customer code. All APIs should expose Async through the API.

Example:
[code]
Should be:
[code]

### Suggested Solution
Ideally all blocking calls would be marked as Obsolete. S

[2018-07-12 15:47] mediumTaj commented on #262
Thanks for the suggestion @acollard - I will see what we can do to support this and include in a major release. In the meantime can you provide an example using a service abstraction (say ToneAnalyzer) so I can test this out in the generator?

[2018-07-12 15:47] mediumTaj commented on #262
@atilatosta can you comment on this as well?

[2018-07-12 16:08] acollard commented on #262
Here you go. I just added the Extensions so it would build locally.

[code]

[2018-07-12 16:45] acollard opened #263 "IClient and IRequest use Async incorrectly."
IClient and IRequest use of Async is not a standard way of handling Async in .Net.

The expectation is IClient.PostAsync would return an awaitable object (like Task) that has already been initiated. In reactive extensions (http://reactivex.io/documentation/observable.html) they would call this a Hot task vs your Cold task implementation. I don't think there are any examples of Cold tasks in the .N

[2018-07-12 16:48] acollard commented on #263
Instead of keeping IClient.Get/Put/Post/Delete which returns IRequest, a better option may be to add a new  method called IClient.CreateRequest(string method). This way it wouldn't confuse users when IClient.GetAsync("https://www.ibm.com") returns Task<IResponse>.

[2018-07-12 19:58] atilatosta commented on #262
Hi @mediumTaj and @acollard!

@acollard Thank you for your contribution.

I think it's a good practice, to be honest it was an old desire when I started development. With this change it would also be necessary to change the `try / catch` to evaluate only the type `Exception` and no longer the `AggregateException`. What do you think?

[2018-07-12 19:59] atilatosta commented on #262
@mediumTaj this also changes how the unit tests are calling the methods.

[2018-07-12 20:00] atilatosta commented on #263
@acollard thank you! I'm thinking a little more about this.

[2018-07-12 20:34] acollard commented on #262
@atilatosta You can just remove the try/catch altogether. Using await on the tasks will cause the root exception to be thrown not an AggregateException.

The code should look like this.
[code]

If the code encounters an error with the request (ex. restRequest.AsAsync), then a ServiceReponseException would be thrown from inside this method correctly. Users could then handle it specifically with the

[2018-07-13 18:00] mediumTaj commented on #249
Looks like we are setting the content type in the request rather than the content. This method should look more like

[2018-07-16 16:23] acollard commented on #261
@mediumTaj Any updates on this? This is preventing us from using IBM Watson.

[2018-07-16 16:39] mediumTaj commented on #261
@acollard let me find some time today to look at this

[2018-07-16 22:12] mediumTaj commented on #261
What region are you using? The default service URL is US South and I don't think they've moved to RC yet. They are still using username/password.

If you are using a service outside of US South you will need to specify the service url as well
[code]

[2018-07-17 03:44] acollard commented on #261
@mediumTaj Your above example works. I was missing the ServiceUrl and it was defaulting to "https://iam.bluemix.net/identity/token". Thanks for the help.

I am in US East, so I used the ServiceUrl specified in my STT credentials (which is the same as yours above) and it worked.

I think initially I was confused by the IAM authentication documentation here: https://console.bluemix.net/docs/services

[2018-07-17 12:41] mediumTaj commented on #261
There are two urls that can be defined in the tokenOptions - `ServiceUrl` and `IamUrl`. The `ServiceUrl` should default to the US South endpoint of the service you're trying to use. The `IamUrl` should default to `https://iam.bluemix.net/identity/token`. Is the `ServiceUrl` defaulting to the `IamUrl` value? If so I'll look into that as well.

The token endpoint should be the same for services acro

[2018-07-17 13:05] acollard commented on #261
You are right, sorry while I was reviewing the TokenManager code late last night I forgot that there are 2 Url properties on the TokenOptions class and thought the value I was setting (ServiceUrl) was being used for the auth endpoint. As you point out the ServiceUrl is the endpoint for the service.

I think it would be a little more self explanatory if TokenOptions didn't have the ServiceUrl prope

[2018-07-17 14:30] mediumTaj commented on #261
Yes this makes sense. I have something similar to this for the Unity SDK but wrapped in a Credentials object. I'll create an issue to implement something like this next major release.

Closing this - please let me know if you have any more issues!

[2018-07-17 14:30] #261 closed

[2018-07-17 14:43] atilatosta commented on #262
@acollard Ok. Good!
@mediumTaj I think it is important to develop this improvement.

[2018-07-17 15:15] mediumTaj commented on #262
@atilatosta Thanks Atila! If you can give me some examples of how this should be structured (including unit tests) I can incorporate these into the generator. Maybe we can generate duplicate methods for a while and deprecate until a good time for a major release.

[2018-07-17 20:34] mediumTaj commented on #200
I tried this query with the same parameters you used and it seems to be working. Closing this for now. Please reopen if there are still issues

[2018-07-17 20:34] #200 closed

[2018-07-17 22:14] johnpisg commented on #249
Actually I had to add a new method for the CreateJob in order to expect a Stream and no a Byte[].. And it looks like this:
`public RecognitionJob CreateJob(Stream audio, string contentType, string model = null, string callbackUrl = null, string events = null, string userToken = null, long? resultsTtl = null, string customizationId = null, string acousticCustomizationId = null, string baseModelVers

[2018-07-25 19:31] mediumTaj commented on #249
My mistake - the API definition specifies the `Content-Type` be specified in the header.
https://watson-api-explorer.ng.bluemix.net/apis/speech-to-text-v1#!/Asynchronous/createJob

[2018-07-27 11:49] qunliu opened #270 "[Speech-To-Text] Throws with "bad request" when requesting timestamps for recognize call"
I have a lite account and try some simple code to see if it works for me. It works with a simple call, but as long as I add metadata to request timestamps, it'd throw. Any clue? Here is my code:

[code]

I am running this on Windows 10. Thanks!

[2018-07-27 14:24] mediumTaj commented on #270
Looking at this still - closing as it's a duplicate of https://github.com/watson-developer-cloud/dotnet-standard-sdk/issues/198

[2018-07-27 14:24] #270 closed

[2018-07-27 16:31] mediumTaj commented on #270
Right now I'm trying to investigate the best way to do this. We currently have a generated method `RecognizeSessionless()` but it accepts a bytearray.

https://github.com/watson-developer-cloud/dotnet-standard-sdk/blob/development/src/IBM.WatsonDeveloperCloud.SpeechToText.v1/SpeechToTextService.cs#L290

I'll need to revise the handwritten method though.

[2018-07-27 16:50] mediumTaj commented on #270
Actually I just tried this and it looks like it works. Add timestamps in the params rather than in metadata. The service may have deprecated this and the change was not picked up. Can you confirm?
[code]

[2018-07-27 16:52] mediumTaj commented on #198
This looks like it's working in the latest release - Please re-open if there are still issues

[code]

[2018-07-27 16:52] #198 closed

[2018-07-27 17:01] qunliu commented on #270
It does work this way, thanks, I appreciate your help!

[2018-08-03 19:33] mediumTaj opened #274 "Implement WatsonResponse"
Return `WatsonResponse` when calling a service

[code]

[2018-08-17 12:43] ajborn opened #283 "LanguageTranslatorService throws exception on initialization with TokenOptions"
- [LanguageTranslatorServicev3 ]
- [

1. Create .NET 4.7 Console application
2. Follow these steps for installation https://github.com/watson-developer-cloud/dotnet-standard-sdk/tree/development/src/IBM.WatsonDeveloperCloud.LanguageTranslator.v3
3. Add this code
`TokenOptions iamAssistantTokenOptions = new TokenOptions() {
				IamApiKey = "INSERT KEY"
			};
			try {

				var _languageTranslator =

[2018-08-17 12:49] ajborn commented on #283
Needed to use .NET Core

[2018-08-17 12:49] #283 closed

[2018-08-29 10:55] pmd23 opened #284 "Could not install package 'IBM.WatsonDeveloperCloud.SpeechToText.v1 2.7.0'. You are trying to install this package into a project that targets '.NETPortable,Version=v4.5,Profile=Profile49'"
I am running below commad on C# Class Library(Portable) but I am getting below error in Package Manager Console.

PM> Install-Package IBM.WatsonDeveloperCloud.SpeechToText.v1

[code]

here are my class library details
![portableclass](https://user-images.githubusercontent.com/2580866/44783460-1893e080-aba8-11e8-804a-cec31e3a33c7.png)

[2018-08-30 15:55] mediumTaj commented on #284
@atilatosta do you have any idea here?

[2018-08-31 06:38] pritish5 commented on #284
Still I am getting an error
![ideerror](https://user-images.githubusercontent.com/2580866/44896656-937b0980-ad16-11e8-8bd0-2d09cf74fc2e.png)

[2018-08-31 07:15] ashumiki opened #285 "Watson assistance service - Unauthorized access Issue"
Hi,

I am using latest Watson assistance service SDK.(install fron NuGet). I am using assistant.Message method to get the entities by passing IamApiKey and IamUrl. Also I am supplying workspace id and version information but result shows "Not Authorized".

   _TokenOptions iamAssistantTokenOptions = new TokenOptions()
            {
                IamApiKey = "XXXXXXXXXXXXXXXX",
                Ia

[2018-08-31 13:48] mediumTaj commented on #285
Hi @ashumiki
Can you please try

[code]

The `IamUrl` is used to get an access token from the `IamApikey`. I fixed an issue in the readme where the service is set in the `IamUrl` field.

[2018-08-31 14:08] ashumiki commented on #285
Thanks for your support!

So In this case, have I update the NuGet packages?

Thanks
Ashutosh

On Fri 31 Aug, 2018, 7:18 PM Ajiemar Santiago, <notifications@github.com>
wrote:

[2018-08-31 14:30] mediumTaj commented on #285
No just update your code. Change from `IamUrl` to `ServiceUrl` when you create your TokenOptions.

[2018-09-01 09:16] ashumiki commented on #285
Hi,

After replacing the IamUrl to ServiceURL, I am getting below bad response.

ExceptionMessage>
The API query failed with status code BadRequest: Bad Request
</ExceptionMessage>
<ExceptionType>
IBM.WatsonDeveloperCloud.Http.Exceptions.ServiceResponseException
</ExceptionType>

Code that I have used :

 TokenOptions iamAssistantTokenOptions = new TokenOptions()
            {
                IamA

[2018-09-06 16:30] mediumTaj opened #286 "List the required dependencies along with their licenses"
| Dependency | License | url |
| --- | --- | --- |

[2018-09-17 19:58] danieldr14 opened #290 "Connet to Watson Assistant with .Net c#"
I have had problems trying to use the classes and connect the Watson APIs trying to use the code in GitHub:

https://github.com/watson-developer-cloud/dotnet-standard-sdk

Is there any example since the _conversation creation?

[2018-09-18 15:01] mediumTaj commented on #290
Can you be more specific what kind of issue you are having?

**Authenticating**
https://github.com/watson-developer-cloud/dotnet-standard-sdk#supplying-the-iam-api-key

**Assistant Service Readme**
https://github.com/watson-developer-cloud/dotnet-standard-sdk#supplying-the-iam-api-key

[2018-09-25 11:58] joewoess opened #294 "[PersonalityInsights] Update Readme example"
As described the class `ContentListContainer` no longer exists or rather has been renamed to `Content.`
Further the parameters of the `Profile` method call aren't in order.

The following would be my revision proposal, although one might want to omit optional parameters.

[code]

[2018-10-15 00:15] germanattanasio commented on #162
Taj I think this was important to debug issues, did you get the change to look at it?

[2018-10-15 01:07] mediumTaj commented on #162
Let me take a look at it this week. I have this in the response headers. Shouldn’t be too much trouble to add to the error

[2018-10-23 10:15] parth170896 commented on #290
[code]
I have written above code for using watson nlu sdk. But its showing null pointer exception every time i try to access sentiment and emotions. So help me to access this...

[2018-10-29 20:44] mediumTaj commented on #162
https://github.com/watson-developer-cloud/dotnet-standard-sdk/pull/301

[2018-10-30 16:38] #162 closed

[2018-11-01 18:48] mediumTaj commented on #162
:tada: This issue has been resolved in version 2.11.0 :tada:

The release is available on [GitHub release](https://github.com/watson-developer-cloud/dotnet-standard-sdk/releases/tag/v2.11.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-11-05 21:28] aryus96 opened #307 "[text-to-speech] MissingMethodException System.Net.Http"
Hello,

I'm currently trying to develop a simple program with the followings tools & libs :
- Visual Studio Community, W10 x64
- .NET 4.6.1
- IBM.WatsonDeveloperCloud 2.11.0 (Installed through NuGet)
- IBM.WatsonDeveloperCloud.TextToSpeech.v1 2.11.0 (Installed through NuGet)

However, I can't run the following code :

The error occur at the method Synthesize(t1).

Tried to solve by :
- Downgrading

[2018-11-07 02:51] ppedro74 commented on #307
Hi,
I had the same issue when using the SDK with Windows .NET 4.6.1, although it works well with .NET CORE Console application.

I replicate your problem and i fixed the project to work check my repo:
https://github.com/ppedro74/IBMWatson-playground

[2018-11-07 13:07] aryus96 commented on #307
Hi @ppedro74 ,

Thank you for your help. However I couldn't run your program.
Opening an issue on your repository about your solution.

Cheers,

[2018-11-07 21:35] aryus96 commented on #307
It's finally working. A big thanks to @ppedro74 and to @dluxfordhpf .
Here are the steps if you encounter the same problems :

- Install all your required IBM.Watson plugins with NuGet.
- Go to NuGet again, search for System.Net.Http
- In the right hand pane, scroll down a little bit and set the Dependency behaviour to Ignore Dependencies.
- Right above, you can check the Preview Window to be sure

[2018-11-07 21:35] #307 closed

[2018-11-26 18:18] BouchardClaude opened #309 "Issue with Content-Language and headers in ToneAnalyzer?"
ContentLanguage does not look like its working. From what I understand, the accept-language header is working, but not Content-Language, preventing me of  using the sdk with french text.  Not sure I understand how the headers are set, but i'm not sure the TryAddWithoutValidation of Reqests.cs are working properly.

When you instanciante a ToneAnalyzerSErvice:
               ` if (!string.IsNullOrE

[2018-11-27 16:41] mediumTaj opened #310 "Passing user defined context in Assistant V2"
Currently there is an issue in SDK generation where a model for Assistant V2 context is pruned. Additionally there is a a service limitation where the skill in the user defined context must be called `main skill`. Here is an example on how to pass user defined context in Assistant V2.

[code]

[2018-11-27 16:42] #310 closed

[2018-12-07 18:28] kosto5o opened #312 "[visual recognition] - threshold with Invariant culture"
when running app with culture having decimal delimiter ‘,’ the request to classify image with threshold is failing as Bad request

Pls update SDK to use Invariant culture when converting float to string in implementation of Classify method.

[2018-12-23 19:58] idvorkin opened #316 "[PersonalityInsights] Unable to install packages into dotnet core 2.2.100 app"
## Steps to reproduce
- Create new dotnet application
- Add package via:
      dotnet add package IBM.WatsonDeveloperCloud.PersonalityInsights.v3 --version 2.12.0
## Expected behavior
     Able to add reference
## Actual behavior

[code]

## .NET SDK version
[code]

[2018-12-24 12:19] germanattanasio commented on #316
Thanks a lot for filing this issue! We'll triage and take a look at it as soon as possible!

[2019-01-05 12:00] mmalsaggaf opened #319 "[speech-to-text] recognize method model parameter"
The Recognize method has en-EN_BroadbandModel default and could not be changed (The method implementation neglects that parameter)

I'm using speech-to-text.v1 (2.11.0) with .netCore 2.0.5

[2019-01-05 23:56] idvorkin commented on #316
Touching now that the holidays are over!

[2019-01-07 17:43] mediumTaj commented on #319
Addressed with #320

[2019-01-07 17:43] #319 closed

[2019-01-07 17:56] mediumTaj commented on #316
Thanks for the reminder @idvorkin - looking into this. One thing I noticed was the package for `IBM.WatsonDeveloperCloud` v2.12.0 failed to publish to nuget. looking into it.

[2019-01-07 18:08] mediumTaj commented on #316
I published `IBM.WatsonDeveloperCloud` v2.12.0 to NuGet. I don't think that's the issue though. The Watson SDK is build using .NET Standard 1.3 so only .NET Core 1.0 is supported

https://docs.microsoft.com/en-us/dotnet/standard/net-standard

We are looking into moving to .NET Standard 2.0 in the next major release!

[2019-01-11 17:16] mediumTaj commented on #316
Closing this but please let me know if you have any more questions about this.

[2019-01-11 17:16] #316 closed

[2019-02-22 18:13] mediumTaj commented on #290
Closing this as there has been no response since September

[2019-02-22 18:13] #290 closed

[2019-03-05 11:50] aryus96 opened #334 "Adding TexToSpeech Example for Bluemix Lite Plan"
Hello,

The current example for TextToSpeech sample is designed only for paid plan of Bluemix. However, it would be nice to have a 5min set-up example for a proof-of-concept.
The whole example is based on ListingAcousticModel and creating one.
But it returns :
`": "This feature is not available for the Bluemix Lite plan. Please upgrade to a paid plan to activate this feature: https://console.bluem

[2019-03-05 12:49] germanattanasio commented on #334
Thanks a lot for filing this issue! Would you like to write a PR for this? We would be more than happy to walk you through the steps involved.

[2019-03-11 20:18] main-- opened #335 "mono chokes on the new User-Agent"
The more detailed `User-Agent` header introduced in #329 crashes in mono:

[code]

I realize that this went unnoticed because the library mainly targets .NET Core but given that it works just fine in mono except for this tiny problem I think it's worth fixing.

[2019-03-11 21:00] mediumTaj commented on #335
would you like to put in a PR for this?

[2019-03-11 21:26] main-- commented on #335
So the trivial fix here would be to just remove the User-Agent header. But given that it was probably added for a reason (?) this is probably not appropriate? I don't know *exactly* why mono rejects this value, just that it's too complicated (maybe because of some special characters?) - I stopped diving into the parsing code once it started instantiating lexers...

[2019-03-11 21:49] mediumTaj commented on #335
Yeah we need the user agent for analytics. Is it possible that mono is erroring on giving some of the info we need for user-agent?
https://github.com/watson-developer-cloud/dotnet-standard-sdk/blob/a035159aa5cf1a7218284cfcbcbd52e995d3f6f0/src/IBM.WatsonDeveloperCloud/Http/HttpFactory.cs#L52

[2019-03-11 23:18] main-- commented on #335
The string I'm getting is `<SDK_VERSION> Unix 5.0.0.1 Mono5.18.0(makepkg/5266e6a8f10WedJan2301:37:40CET2019)`. After some trial and error it seems that both the parentheses as well as the colons make it crash. So running (something like) `String.Join("", System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription.Split(new char[] { ' ', '(', ')', ':' }))` instead of just removing spaces

[2019-03-15 23:26] mediumTaj commented on #335
Can you post what the value of the user-agent is after this change?

[2019-03-16 00:31] main-- commented on #335
It would be exactly the same, just without any parentheses or colons: `<SDK_VERSION> Unix 5.0.0.1 Mono5.18.0makepkg/5266e6a8f10WedJan23013740CET2019`

[2019-03-26 20:52] mediumTaj commented on #335
in HttpFactory.cs I'm looking to change the method to remove parentheses, colons and semicolons. Will this work for mono? I'll have to find a better way to do this when I start working on the major release.
[code]

[2019-03-26 21:51] main-- commented on #335
No. The problem is the `FrameworkDescription` and the code you just posted doesn‘t fix that. So either apply the replacements individually to the **framework description** or the way I gave you or just replace *after formatting* to fix up the entire string (to make it more robust/futureproof).

[2019-03-31 08:14] tehmantra commented on #335
Also getting this problem on macos after upgrading.

`<PackageReference Include="IBM.WatsonDeveloperCloud.Assistant.v1" Version="2.16.0" />`

[code]

[2019-04-02 15:36] diegoortizmatajira opened #342 "User-Agent HTTP header string with invalid format"
**Overview**
When consuming API objects (i.e. `IBM.WatsonDeveloperCloud.Assistant.v2` v.2.16.0) we are getting an exception when running from linux:

[code]

**Expected behavior**
It should build the Http Client with a valid User-Agent string value and consume the API correctly

**Actual behavior**
The User-Agent value (Built on `IBM.WatsonDeveloperCloud.Http.HttpFactory` class and `GetRequestMess

[2019-04-02 21:14] mediumTaj commented on #335
@tehmantra @main-- Can you give me what you get for the value of
[code]

[2019-04-02 21:14] mediumTaj commented on #342
Can you give me what you get for
[code]

[2019-04-02 21:23] diegoortizmatajira commented on #342
It returns: "`Linux 4.19.28-1-MANJARO #1 SMP PREEMPT Sun Mar 10 08:32:42 UTC 2019`"

[2019-04-03 15:59] main-- commented on #335
On mono (from archlinux repo):

* `RuntimeInformation.OSDescription`: "Unix 5.0.5.1"
* `RuntimeInformation.FrameworkDescription`: "Mono 5.18.1 (makepkg/9cb3348c311 Thu Mar 21 17:20:20 UTC 2019)"

[2019-04-03 16:02] mediumTaj commented on #335
Can you see if this PR fixes the user-agent parsing issue?
https://github.com/watson-developer-cloud/dotnet-standard-sdk/pull/344

[2019-04-03 16:02] mediumTaj commented on #342
Can you see if this PR fixes the user-agent parsing issue?
https://github.com/watson-developer-cloud/dotnet-standard-sdk/pull/344

[2019-04-03 17:28] main-- commented on #335
Appears to be fixed, no crash here.

[2019-04-03 20:03] #335 closed

[2019-04-03 20:03] #342 closed

[2019-04-03 20:44] mediumTaj commented on #335
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on [GitHub release](https://github.com/watson-developer-cloud/dotnet-standard-sdk/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-03 20:44] mediumTaj commented on #342
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on [GitHub release](https://github.com/watson-developer-cloud/dotnet-standard-sdk/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-08 17:10] mstama opened #350 "[translator] Default constructor is missing a parameter"
The default constructor implementation is missing a parameter to be passed to the base class.

The default constructor have the following implementation:
[code]
while all the other implementation passes the URL constant to the base class:
[code]

[code]

[code]

That leads to the endpoint in the base class to have an empty string and generates an error when calling the translate method.

[2019-04-10 05:51] Arvind2468 opened #351 "face recognition in unity 3d"
[face recognition]- can i recognize face by using unity3d software for mobile application through camera?

[2019-04-10 09:36] mediumTaj commented on #351
Please use the Unity SDK

https://github.com/watson-developer-cloud/unity-sdk

To get the webcam data you will need to use [WebCamTexture](https://docs.unity3d.com/ScriptReference/WebCamTexture.html).

[2019-04-10 09:36] #351 closed

[2019-04-11 18:34] njjbailey opened #353 "Natural Language Understanding.. The api query failed with status UNAUTHORIZED"
Hi there,

We have come across an unexpected authorization issue when using Natural Language Understanding with .net CORE 2.2:

Error:

System.AggregateException
  HResult=0x80131500
  Message=One or more errors occurred. (The API query failed with status code Unauthorized: Unauthorized | x-global-transaction-id:  | X-DP-Watson-Tran-ID:  | error: {"code":401, "error": "Unauthorized"}) (The API que

[2019-04-11 18:56] njjbailey commented on #353
Solved my own issue.. apologies.. here is the answer:

Use tokens:

`TokenOptions iamAssistantTokenOptions = new TokenOptions()
            {
                IamApiKey = _apiKeyWatson,
                ServiceUrl = _watsonUrl
            };

            var _naturalLanguageUnderstandingService = new IBM.WatsonDeveloperCloud.NaturalLanguageUnderstanding.v1.NaturalLanguageUnderstandingService(iamAssi

[2019-04-11 18:56] #353 closed

[2019-04-13 02:29] Arvind2468 commented on #351
Respected sir,
Can you tell the procedure how to do it?
Thank you

On Wed 10 Apr, 2019, 3:06 PM Ajiemar Santiago, <notifications@github.com>
wrote:

[2019-04-17 07:47] Arvind2468 commented on #351
how can i do it ? how can i train my classifier through code? can you please elaborate?

[2019-04-17 08:20] Arvind2468 opened #354 "real time face recognition"
how to train own classifier for visual recognition step by step?

[2019-05-07 23:35] mediumTaj commented on #335
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on [GitHub release](https://github.com/watson-developer-cloud/dotnet-standard-sdk/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-07 23:35] mediumTaj commented on #342
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on [GitHub release](https://github.com/watson-developer-cloud/dotnet-standard-sdk/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-24 21:49] mediumTaj commented on #334
All examples have been added

[2019-05-24 21:49] #334 closed

[2019-06-05 19:27] mediumTaj commented on #77
The SDK is automatically generated

[2019-06-05 19:27] #77 closed

[2019-06-05 19:28] mediumTaj commented on #99
I updated this in the last major release. I will update again next major release.

[2019-06-05 19:28] #99 closed

[2019-06-05 19:29] mediumTaj commented on #88
We transitioned to .NET Standard 2.0 in the major release. We should support up to .NET Platform 4.6.1.

[2019-06-05 19:29] #88 closed

[2019-06-05 19:32] mediumTaj commented on #85
This is complete in the 3.0 release

[2019-06-05 19:32] #85 closed

[2019-06-05 19:34] mediumTaj commented on #116
Is this still an issue since we have IAM authorization?

[2019-06-05 19:35] mediumTaj commented on #294
Service readme files were removed. These will be auto generated.

[2019-06-05 19:35] #294 closed

[2019-06-05 19:36] mediumTaj commented on #274
Complete in 3.0 release.

[2019-06-05 19:36] #274 closed

[2019-06-05 19:36] mediumTaj commented on #150
This should be fixed.

[2019-06-05 19:36] #150 closed

[2019-06-22 21:13] mediumTaj opened #381 ".NET SDK v4"
We are planning to do a major release of the Watson .NET SDK in September. This issue will be used to track features and changes we want to make in the next major release. We welcome community feedback on these goals - do people want these things? Are there other implementations/packages we should be looking at? Any comments are appreciated!

## Planned changes
- [ ] Provide more flexible and exte

[2019-07-19 19:54] mediumTaj commented on #354
You can use these tutorials to train a Watson Visual Recognition model.

https://developer.ibm.com/tutorials/train-visrec-model-free/
https://medium.com/ibm-watson/visual-recognition-378dd49ee272

[2019-07-19 19:54] #354 closed

[2019-07-19 19:56] mediumTaj commented on #350
Hi @mstama, The default constructor is used when authenticating using a credentials file.

[code]

Use the other constructors to authenticate either using IAM or BasicAuth.

[2019-07-19 19:56] #350 closed

[2019-07-19 19:57] mediumTaj commented on #312
This should be fixed.

[2019-07-19 19:57] #312 closed

[2019-07-19 19:57] mediumTaj commented on #309
Can you tell me if this is still happening and can you provide code to reproduce?

[2019-07-19 20:01] mediumTaj commented on #285
Is this still happening for you?

[2019-07-19 20:02] BouchardClaude commented on #309
unfortunalty as I got no answer I gave up and dont have the code anymore. I guess you can close the issue as I dont have time to look at it for the next weeks.
 thx anyway.

[2019-07-19 20:03] mediumTaj commented on #263
FYI I still really want to implement this. Looking for some time and hopefully some help

[2019-07-19 20:03] mediumTaj commented on #262
FYI I still really want to implement this. Looking for some time and hopefully some help

[2019-07-19 20:04] mediumTaj commented on #249
Is this still an issue?

[2019-07-19 20:04] mediumTaj commented on #214
Is this still an issue?

[2019-07-19 20:06] mediumTaj commented on #116
Closing due to inactivity

[2019-07-19 20:06] #116 closed

[2019-07-19 20:11] mediumTaj commented on #117
Is this still an issue?

[2019-07-19 20:13] mediumTaj commented on #118
Is this still an issue?

[2019-07-19 20:14] mediumTaj commented on #146
Closing as duplicate of https://github.com/watson-developer-cloud/dotnet-standard-sdk/issues/262

[2019-07-19 20:14] #146 closed

[2019-07-19 20:14] mediumTaj commented on #128
I think this is complete

[2019-07-19 20:14] #128 closed

[2019-07-19 20:15] mediumTaj commented on #141
Is this still an issue?

[2019-07-19 20:16] mediumTaj commented on #144
Adding this to planning

[2019-07-19 20:21] mediumTaj commented on #151
Is this still an issue?

[2019-07-19 20:22] mediumTaj commented on #113
Still nothing in the testing framework

[2019-07-19 20:24] mediumTaj commented on #153
Still want to do this... possibly after async is implemented

[2019-07-19 20:24] mediumTaj commented on #147
I think this has been resolved. Please comment if it is still an issue.

[2019-07-19 20:24] #147 closed

[2019-07-19 20:46] #309 closed

[2019-07-19 21:12] RMichaelPickering commented on #153
@mediumTaj I still think that Websocket support is critical for any use case of Watson STT and thus should be available in all Watson SDKs. Having said this, we've moved on to using node.js as a middle tier, and thus don't really require .NET support any more. On the other hand, the Watson STT Websocket itself doesn't actually seem to be working properly from our node.js app running in IBM Cloud,

[2019-07-24 15:08] #144 closed

[2019-07-24 15:44] mediumTaj commented on #144
:tada: This issue has been resolved in version 3.3.0 :tada:

The release is available on [GitHub release](https://github.com/watson-developer-cloud/dotnet-standard-sdk/releases/tag/v3.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-26 22:18] smoralesingsoft opened #386 "Broken Links"
The README Links are Brokens

![2019-07-26_182146](https://user-images.githubusercontent.com/47360129/61984278-bb7bf700-afd1-11e9-9c56-cba2b0b761ec.png)
![2019-07-26_182205](https://user-images.githubusercontent.com/47360129/61984285-bf0f7e00-afd1-11e9-8a58-77ea876d8647.png)

[2019-07-29 13:49] mediumTaj commented on #386
Thanks for the issue - I will take a look at generating this.

[2019-07-29 15:52] #386 closed

[2019-08-08 12:23] mediumTaj commented on #386
:tada: This issue has been resolved in version 3.4.0 :tada:

The release is available on [GitHub release](https://github.com/watson-developer-cloud/dotnet-standard-sdk/releases/tag/v3.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-09-03 16:53] mediumTaj commented on #381
For anyone following, the [pre-release](https://github.com/watson-developer-cloud/dotnet-standard-sdk/releases/tag/v4.0.0-rc1) for the .NET SDK is out. Major release is planned for the week of September 23. Please try it out and create issues for any feedback!

[2019-10-04 21:31] mediumTaj commented on #381
.NET SDK 4.0.0 is released. Please see migration guide https://github.com/watson-developer-cloud/dotnet-standard-sdk/blob/master/MIGRATION-V4.md

[2019-10-04 21:31] #381 closed

[2019-10-04 21:31] #41 closed

[2019-10-04 21:31] #26 closed

[2019-10-04 21:32] mediumTaj commented on #28
We have moved to https://github.com/IBM/dotnet-sdk-core

We will continue adding tests there

[2019-10-04 21:32] #28 closed

[2019-10-04 21:33] mediumTaj commented on #29
Look into https://github.com/DotNetAnalyzers/StyleCopAnalyzers

[2019-10-04 21:34] mediumTaj commented on #113
Closing as nothing available in testing framework

[2019-10-04 21:34] #113 closed

[2019-10-04 21:34] mediumTaj commented on #117
Closing due to inactivity. Please reopen if this is still an issue.

[2019-10-04 21:34] #117 closed

[2019-10-04 21:34] mediumTaj commented on #141
Closing due to inactivity. Please reopen if this is still an issue.

[2019-10-04 21:34] #141 closed

[2019-10-04 21:35] mediumTaj commented on #151
Closing due to inactivity. Please reopen if this is still an issue.

[2019-10-04 21:35] #151 closed

[2019-10-04 21:35] mediumTaj commented on #118
Closing due to inactivity. Please reopen if this is still an issue.

[2019-10-04 21:35] #118 closed

[2019-10-04 21:35] mediumTaj commented on #214
Closing due to inactivity. Please reopen if this is still an issue.

[2019-10-04 21:35] #214 closed

[2019-10-04 21:36] mediumTaj commented on #232
complete

[2019-10-04 21:36] #232 closed

[2019-10-04 21:36] mediumTaj commented on #249
Closing due to inactivity. Please reopen if this is still an issue.

[2019-10-04 21:36] #249 closed

[2019-10-04 21:38] mediumTaj commented on #284
Are you still having an issue? We are now on .NET Standard 2.0. Minimum framework version 4.6.1.

[2019-10-04 21:38] mediumTaj commented on #285
Closing due to inactivity. Please reopen if you are still having an issue.

[2019-10-04 21:38] #285 closed

[2019-10-17 22:01] RMichaelPickering commented on #153
Has async been implemented?

[2019-10-21 18:18] mediumTaj commented on #286
will do this

[2019-10-21 18:18] mediumTaj commented on #263
still planning this

[2019-10-21 18:19] mediumTaj commented on #262
still planning to address

[2019-10-21 18:20] mediumTaj commented on #143
Is this still an issue?

[2019-10-21 18:21] mediumTaj commented on #153
Not yet

[2019-10-24 17:59] #79 closed

[2019-12-03 22:34] mediumTaj commented on #29
Still active

[2019-12-06 05:14] #284 closed

[2019-12-20 18:52] mediumTaj commented on #153
Still active

[2019-12-20 18:53] mediumTaj commented on #263
Still active

[2019-12-20 18:53] mediumTaj commented on #262
Still active

[2019-12-20 18:54] mediumTaj commented on #286
Still active

[2019-12-27 19:35] #143 closed

[2020-01-14 21:43] xolanimaphumulo commented on #284
If you still getting the error , please install visual studio 2019. It worked for me.

[2020-02-08 23:25] #29 closed

[2020-02-18 21:15] mediumTaj commented on #262
Still active

[2020-02-18 21:15] mediumTaj commented on #263
Still active

[2020-02-27 04:35] #286 closed

[2020-03-20 07:44] nathannzw opened #418 "Speech To Text with Live Mic Input"
Will there be sample code available for this feature in C#? nodejs has this.

[2020-03-20 15:30] mediumTaj commented on #418
We hope to add this eventually. It may be a while because of low bandwith.

[2020-03-20 15:44] mediumTaj commented on #418
That being said, we are open to reviewing pull requests if you have time to add support!

[2020-03-23 02:03] nathannzw commented on #418
Ok, thank you. Will look out for this!

[2020-03-25 05:24] nathannzw opened #419 "TTS Output to Speaker"
Hi is there sample code for text to speech output to audio device instead of saving the file? Thanks!

[2020-03-25 07:48] nathannzw opened #420 "Watson Assistant Output"
For the Watson assistant output, to obtain just the string response, do I have to manually extract the "Text" or is there a variable that contains it. I can't find that variable. Thanks!

[2020-03-25 08:57] nathannzw commented on #420
string response = dialog.Message();
            JObject data = JObject.Parse(response);
            Console.WriteLine(data["output"]["generic"].First["text"]);
            string text = data["output"]["generic"].First["text"].ToString();

This is the code if anyone needs to filter out the text.

[2020-03-25 08:57] #420 closed

[2020-05-28 11:53] HayS33d opened #427 "SpeechToTextService does not support IamAuthenticator as a constructor as per the examples on this site."
The examples on  this site are outdated per the new SpeechToTextService constructor overloads.
IamAuthenticator is no longer used with version 2.17

[2020-05-28 13:17] mediumTaj commented on #427
Please use the updated package `IBM.Watson.SpeechToText.v1`. The .NET SDK moved to the new namespace a few major versions ago and the WatsonDeveloperCloud namespace has been deprecated.

[2020-05-28 13:17] #427 closed

[2020-05-31 09:29] #419 closed

[2020-06-14 17:35] POWER-KI opened #428 "What about C++ ?"
I would like to know if you have plan for a C/C++ (WIN) implementation of the SDK.
I would like to write a wrap for a programming language so I need a fast execution (No: python, java, javascript, c# ..).

Thank you.
CAP
p.s. I am not sure to be in the right place to pose the question but ..

[2020-06-15 17:32] germanattanasio commented on #428
Hi @POWER-KI what are your requirements that you need to write a C++ SDK? what do you mean by fast execution? Remember that you have to always wait for Watson to reply and that will always be greater than whatever code your run.

[2020-06-15 18:34] getcontext commented on #428
Hi,

It would be great to port c# or java part into c++.
As I am in IBM , I was thinking of doing so, but I'm in a different
project.
There is a bit of work on it, but it's doable.

cheers,a

pon., 15 cze 2020 o 19:32 German Attanasio <notifications@github.com>
napisał(a):

[2020-06-16 07:32] POWER-KI commented on #428
As you can argue from this link [www.POWER-KI.com ](url) we would like  to make a WRAP DLL for the POWER-KI programming language. The better and fast way (all is ready for this) is to start from C o C++.
Thank you,
CAP

[2020-06-23 14:17] mediumTaj commented on #428
Not an issue with the .NET SDK, closing. We will take the comment into consideration.

[2020-06-23 14:17] #428 closed

[2020-06-23 14:17] mediumTaj commented on #418
Closing this as we have an internal issue open

[2020-06-23 14:17] #418 closed

[2020-10-02 13:38] tomasgerhardsen opened #438 "Unable to set threshold when analyzing images with visual recognition if current culture has decimal delimiter ‘,’"
Unable to set threshold when analyzing images with visual recognition if current culture has decimal delimiter ‘,’

The request fails with this error "The `threshold` parameter must be a number in the range 0.15 - 1.0."

It must be because the threshold is not using invariant culture in ToString(),

[2020-10-07 07:55] FurkanGozukara opened #439 "How to use IBM Watson Speech-To-Text API"
I have registered and downloaded my API key

I have composed a .NET core console application and installed IBM.Watson.SpeechToText.v1 via NuGet package

So I am ready but I cant find any documentation for how to read an MP3 audio file and convert it to the text

![image](https://user-images.githubusercontent.com/19240467/95303167-8a60ad00-088b-11eb-88e8-b40073e4e637.png)

[2020-10-07 14:14] kevinkowa commented on #439
Hi @FurkanGozukara! Please take a look at [https://cloud.ibm.com/apidocs/speech-to-text?code=dotnet-standard#recognize](https://cloud.ibm.com/apidocs/speech-to-text?code=dotnet-standard#recognize), and let me know if that helps you out

[2020-12-17 03:08] kdubious opened #447 "StartObject error in v5 calling ListDialogNodes"
-- Edited to include a more proper bug report

**Overview**
Calling `ListDialogNodes` against an asstant with a node containing a Transfer to human Agent fails with the error:
`Error reading string. Unexpected token: StartObject. Path 'agent_available', line 1, position 9303.`

**Expected behavior**
Expect to get a result set

**Actual behavior**
`Error reading string. Unexpected token: StartObjec

[2020-12-17 04:29] kevinkowa commented on #447
Hi @kdubious, can you fill out the bug report so we can tackle this problem?

[2020-12-17 05:39] kdubious commented on #447
@kevinkowa I almost didn't submit this one for exactly that reason. ;)

I upgraded a project to the newest 5.0 Nuget packages. I called:
` var rslt = assistant.ListDialogNodes(workspaceId, includeAudit: true).Result`
and I got the error I mentioned in the title. I reverted to the previous (4.6) package and all is well.

I don't have time right now to go back to 5.0 and get you any more details.

[2020-12-17 16:35] kevinkowa commented on #447
@kdubious No problem! I haven't been able to reproduce this error. Is there anything in particular that you remember doing? A larger snippet of code might help too

[2020-12-17 18:42] kdubious commented on #447
OK, I upgraded again to v5. Same issue:

Error reading string. Unexpected token: StartObject. Path 'agent_available', line 1, position 9303.

![image](https://user-images.githubusercontent.com/9756166/102529324-b6f42a80-406d-11eb-974f-96141d176029.png)

[2020-12-17 18:46] kdubious commented on #447
One of my nodes has a Transfer To Agent:

        {
          "output": {
            "generic": [
              {
                "values": [
                  {
                    "text": "Hang tight..."
                  }
                ],
                "response_type": "text",
                "selection_policy": "sequential"
              },
              {
                "title": "Title

[2020-12-17 18:49] kdubious commented on #447
And... if I remove that Response, it works.

[2020-12-17 20:50] kevinkowa commented on #447
@kdubious Thank you for the information, we will fix it as soon as possible!

[2020-12-19 08:26] #438 closed

[2020-12-21 22:09] kevinkowa commented on #447
Hi @kdubious feel free to try out the latest version: 5.0.1 with the fix for this issue

[2020-12-21 22:10] #447 closed

[2020-12-22 13:02] kdubious commented on #447
@kevinkowa Excellent, thanks. I've been using the NuGet packages (not source code), but I may download it just for this fix.

[2020-12-22 13:34] mediumTaj commented on #447
Kevin, can you check to see if the updated packages were deployed to nuget?

[2020-12-22 14:07] kdubious commented on #447
@mediumTaj I don't see them: https://www.nuget.org/packages/IBM.Watson.Assistant.v2

![image](https://user-images.githubusercontent.com/9756166/102896912-29ca2080-4435-11eb-88b1-05053a906894.png)

[2020-12-22 15:26] kevinkowa commented on #447
It's up in nuget now, https://www.nuget.org/packages/IBM.Watson.Assistant.v2/5.0.1.
Let me know if there's anything else I can help with!

[2020-12-22 15:34] kdubious commented on #447
@kevinkowa & @mediumTaj, I got the latest from NuGet... problem solved. Thanks!

(Only thing I need now is a few clients looking to have Watson Assistant chatbots built.)

[2021-02-01 16:33] darkmatter2222 opened #452 "Support for web request proxy"
Super Simple,

We are using this SDK behind a corporate proxy. This SDK does not enable the developer to set the proxy prior to the web request is made to IBM Cloud. Prime example: https://github.com/watson-developer-cloud/dotnet-standard-sdk/blob/1af67675044bda3b1647ba4e4bea9f5104fce923/src/IBM.Watson.Discovery.v2/DiscoveryService.cs#L103

Solutions like the one outlined [here ](https://stackover

[2021-02-01 18:11] kevinkowa commented on #452
I'll look into this soon, thank you for bringing up this issue!

[2021-02-10 02:37] darkmatter2222 commented on #452
@kevinkowa, are you accepting contributions?

[2021-02-10 03:06] mediumTaj commented on #452
Yes please feel free to submit a PR!

[2021-02-10 23:55] darkmatter2222 commented on #452
@mediumTaj, @kevinkowa, the right place to make this adjustment would be in the constructor of the client by feeding in proxy as a HttpClientHandler. This appears to be done in IBM.Cloud.SDK.Core.Service. Can you point me into the direction of that source. Having trouble finding it.

Outlined [here](https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclienthandler.proxy?view=net-5.0)

[2021-02-11 00:06] mediumTaj commented on #452
https://github.com/IBM/dotnet-sdk-core

[2021-02-17 15:36] kevinkowa commented on #452
@darkmatter2222 Thank you for contributing!

[2021-02-17 15:36] #452 closed

[2021-03-17 14:51] #439 closed

[2021-04-16 16:08] GoncaloBastos opened #460 "SSML Tags throwing error when synthesizing audio with web sockets."
**Overview**
_When sending a text to be synthesized through the Text to Speech Service, an exception is thrown if SSML tags are added._

**Expected behavior**
_SSML tags are accepted and affect the result of the request_

**Actual behavior**
_An exception is raised: ` System.AggregateException: One or more errors occurred. (The remote party closed the WebSocket connection without completing the cl

[2021-04-16 20:21] mediumTaj commented on #460
Hi Goncalo, which voice are you using?

[2021-04-16 20:25] mediumTaj commented on #460
SSML is not available in neural voices
https://cloud.ibm.com/docs/text-to-speech?topic=text-to-speech-voices

these docs list other limitations of SSML, i.e. <express-as> only being available in en-US_AllisonVoice

[2021-04-18 10:10] jeffpk62 commented on #460
@mediumTaj I believe the limitations you mention are that specific SSML features are no longer available. SSML in general is supported across all of the voices.

[2021-04-18 11:52] GoncaloBastos commented on #460
Sorry for the late reply. We tested with a couple of neural voices. We were just trying to replicate the results from this page:

https://www.ibm.com/demos/live/tts-demo/self-service/home

which lets you adjust pitch, rate, etc. of all neural voices as far as I can tell.

[2021-04-19 13:01] mediumTaj commented on #460
@jeffpk62 ah gotcha, I read migration wrong as ALL ssml features are not available in neural voices. @kevinkowa can you take a look

[2021-04-19 14:34] kevinkowa commented on #460
Alright, I'll test it out

[2021-04-19 21:14] kevinkowa commented on #460
Hi @GoncaloBastos,

My apologies for the delay. I found the solution, believe or not, it works if you do the following
[code]

[2021-04-20 06:11] GoncaloBastos commented on #460
Interesting, I think I read somewhere that the string needs to be escaped, so that might explain why it works with the single quotes?

[2021-04-20 08:34] jeffpk62 commented on #460
Yes, you need to escape XML control chars that are part of the text that is to be synthesized.  There's some stilted information about this here:

https://cloud.ibm.com/docs/text-to-speech?topic=text-to-speech-usingHTTP#escape

There are also a bunch of possible validation errors listed here:

https://cloud.ibm.com/docs/text-to-speech?topic=text-to-speech-ssml#errors

[2021-04-21 20:24] kevinkowa commented on #460
@GoncaloBastos you can also escape it like this
[code]

[2021-11-26 17:09] mitestojanov1990 opened #484 "Summarization Result class missing in .NET NaturalLanguageUnderstanding.v1.Model"
**Overview**
Inside package IBM.Watson.NaturalLanguageUnderstanding.v1.Model for class AnalysisResults there is no SummarizationResult property.
The class SummarizationResult is not present at all..

**Expected behavior**
When retrieving the results from NaturalLanguageUnderstandingService, using SummarizationOptions as a Feature I expect to get a summarization property (object with text summary)

[2021-12-15 21:40] kevinkowa commented on #484
This is experimental, it's not in the SDKs as of the moment.

[2021-12-15 21:44] #460 closed

[2022-04-16 11:10] #153 closed

[2022-04-28 01:55] #262 closed

[2022-04-28 01:55] #263 closed

[2022-04-28 01:55] #484 closed